@use '../../master' as m; 
@import './matchMessage.scss'; 

$base-color: #312E2B;
$primary-color: #272522;
$secondary-color: #3D3B39;
$items-color: #4C4A48;

$text-primary-color: #FFFFFF;
$text-secondary-color: #D4D3D3;
$text-info-color: #7D7C7A;

$panel-color: #272522;
$panel-heading-color: #21201D;
$btn-color: #201E1C;
$btn-confirm-color: #7FA650;
$btn-secondary-color: #383734;

// $controls-bg-color: #1c1c21;
// $controls-bg-color: #708B75;
// $controls-bg-color: m.$darker;

// $controls-bg-color: #272522;
$controls-bg-color: m.$dark-brown;

// $controls-bg-color: m.$brown;
// $controls-bg-color: m.$dark-brown;
// $controls-bg-color: m.$green;
// $controls-bg-color: m.$spec-blue-alt;

$border-radius: 0.125rem;

// CONTROLS
.controls-wrapper {
	pointer-events: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	.controls {
		position: relative;
		width: 100%;
		height: 100%;

		.btn-wrapper {
			position: absolute;
			bottom: 0px;
			margin: .25rem;
			.active {
			background-color: #2e2d2d;
			}
			&.top {
				top: 0px;
			}
			&.center {
				margin-top: 0px !important;
				// text-align: center;
				left: 50%;
				transform: translate(-50%);
				// opacity:.95;
				img {
					width:3.5rem;
					height:3.5rem;
				}
				.control-btn{
					padding-top: 0.25rem;
					padding-bottom: 0.25rem;
				}
			}
			&.left{
				left: 0px ;
			}
			&.right{
				// .control-btn:nth-of-type(1) { margin-right: 0.5rem; }
				// :first-child { margin-right: 0.25rem; }
				// & > .control-btn:first-of-type  { margin-right: 0.5rem; }
				.control-btn {
					&.first { margin-right: 0.25rem; }
				}
				display: flex;
				right: 0px ;
			}

			.menu-wrapper{
				--bg:  #242526;
				--bg-accent: #484a4d;
				--text-color: #dadce1;
				--nav-size: 60px;
				--border: 1px solid #474a4d;
				--speed: 500ms; 
				position: relative;
				.menu {
					max-width: max-content;
					z-index: 3;
					align-items: center;
					justify-content: center;
					// @apply right-0 mt-2 w-56 rounded-md shadow-lg bg-white divide-y divide-gray-100 focus:outline-none;
					width: 14rem/* 224px */;
					position: absolute;
					// background-color: rgba(55, 65, 81, 1);
					// background-color: $controls-bg-color;
					bottom: 0px;
					right: 0px;
					margin-right: 0.25rem/* 4px */;
					// margin-top: 0.5rem/* 8px */;
					margin-bottom: 4.25rem;
					transform-origin: top right;
					--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
					box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
					outline: 2px solid transparent;
					outline-offset: 2px;
					// divider
					// >:not([hidden])~:not([hidden]) {
						// border-color: rgba(243,244,246,1 );
						// border-top-width: calc(1px * calc(1 - 0));
						// border-bottom-width: calc(1px * 0);
					// }
					.menu-item {
						background-color: m.$darker;
						margin-bottom:.15rem;
						&:last-child {
							margin-bottom:  0rem;
						}
						border: m.$border;
						border-radius: $border-radius;
						overflow: hidden;
						pointer-events: all;
						// color: rgba(255, 255, 255, 1);
						display: flex;
						align-items: center;
						justify-content: center;
						padding-left: 1rem/* 16px */;
						padding-right: 1rem/* 16px */;
						padding-top: 0.5rem/* 8px */;
						padding-bottom: 0.5rem/* 8px */;
						font-size: 0.875rem/* 14px */;
						line-height: 1.25rem/* 20px */;
						&:hover {
							cursor: pointer;
							// background-color: #525357;
							// background-color: #666666d9;
							background-color: #464646;
						}
						.menu-icon {
							border: m.$border;
							border-radius: $border-radius;
							margin-right: 0.5rem;
							&:hover {
								filter: none;
							}
							--button-size: calc(var(--nav-size) * 0.5);
							width: var(--button-size);
							height: var(--button-size);
							// background-color: #484a4d;
							background-color: m.$dark;
							// border-radius: 35%;
							padding: 5px;
							display: flex;
							align-items: center;
							justify-content: center;
							transition: filter 300ms;
							img{
								// 20px to rem
								width: 3.5rem;
								height: 3.5rem;
							}
						}
						span{
							width: 80%;
						}
					}
				}
			}
		}
		.control-btn {
			pointer-events: auto;
			background-color: $controls-bg-color;
			color: rgba(255, 255, 255, 1);
			padding-left: 1rem/* 16px */;
			padding-right: 1rem/* 16px */;
			padding-top: 0.5rem/* 8px */;
			padding-bottom: 0.5rem/* 8px */;
			border: m.$border;
			border-radius: $border-radius;
			box-shadow: m.$shadow;
			outline: 2px solid transparent;
			outline-offset: 2px;
			// margin-right: 0.25rem/* 4px */;
			// margin-bottom: 0.25rem/* 4px */;
			// transition-timing-function: linear;
			// transition-property: all;
			// transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			// transition-duration: 150ms;
			img {
				pointer-events: none;
				height: 3rem/* 48px */;
			}

		}
	}
}

// PLAYER TAG
.player-section{
	width:100%;

	.player {
		&.selected {
			box-shadow:#d6d6d667 0px 0px 5px 3px !important;
		}
		background-color: $controls-bg-color;
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		// flex-direction: column;
		flex-direction: row;
		text-align: center;
		padding: 0.75rem/* 8px */;
		// margin-top: 0.5rem/* 8px */;
		margin-left: 0.5rem/* 12px */;
		margin-right: 0.5rem/* 12px */;
		border: m.$border;
		border-radius: $border-radius;
		--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
		width: 40%;
    	max-width: 40%;
		&.left { 
			float:left; 
			justify-content: start;
		}
		&.right { 
			float:right; 
			// flex-direction: column-reverse;
			justify-content: end;
		}
		.picture {
			height: 3.2rem;
			width: 3.2rem;
			border-radius: $border-radius;
			--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
			box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
			// width: 30%;
			display: none;
			// background-color: m.$bg-color;
			background-color: m.$green;
			&.default{
				background-color: #E4E6E7;
			}
		}
		.tagline{
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			flex-grow: 1;
			color: rgba(55, 65, 81, 1);
			align-items: center;
			text-align: center;
			// &.left{
			//   text-align: left;
			// }
			// &.right{
			//   text-align: right;
			// }
			.name{
				width: 100%;
				font-size: m.$font-size-lg/* 24px */;
				font-weight: 600;
				line-height: 2rem/* 32px */;
				letter-spacing: .1rem;
				color: rgba(255, 255, 255, 1);
				line-height: 1.25;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			// .clock {
			//   width: 100%;
			//   display: flex;
			//   background-color: #989695;
			//   border-radius: $border-radius;
			//   .time {
			//     max-width: 14rem;
			//     font-size: 1.25rem/* 20px */;
			//     line-height: 1.75rem/* 28px */;
			//     width: 100%;
			//     text-align: center;
			//     justify-content: center;
			//     align-items: center;
			//   }
			//   .icon {
			//     padding: 0.25rem/* 4px */;
			//     display: inline;
			//     height: 2rem/* 32px */;
			//   }
			// }
		}
		&.winner {
			overflow: hidden;
			&:after {
				animation: shine 2.2s ease-out infinite;
				animation-fill-mode: forwards;  
				content: "";
				position: absolute;
				top: -110%;
				left: -90%;
				width: 8rem;
				height: 300%;
				opacity: 0;
				transform: rotate(30deg);
				background: rgba(255, 255, 255, 0.13);
				background: linear-gradient(
					to right, 
					rgba(255, 255, 255, 0.13) 55%,
					rgba(255, 255, 255, 0.13) 77%,
					rgba(255, 255, 255, 0.5) 92%,
					rgba(255, 255, 255, 0.0) 100%
				);
				transition-property: left, top, opacity;
				transition-duration: 0.1s, 0.7s, 0.15s;
				transition-timing-function: ease;
			}
			@keyframes shine {
			20% {
				opacity: .5;
				top: -90%;
				left: -90%;

			}
			70% {
				opacity: 0;
				top: -110%;
				left: 50%;
			}
			100% {
				opacity: 0;
				top: -110%;
				left: 50%;
			}
			}
		}
	}
}

// PROMO PIECES
.promotion-wrapper {
	top: 0%;
	left: 0%;
	position: absolute;
	position: relative;
	width:100%;
	height:100%;
	z-index: 1;
	pointer-events: auto;
	display:flex;
	justify-content: center;
	align-items: center;
	.promotion {
		height:fit-content;
		width:fit-content;
		// background-color: #e9e9e9;
		background-color: m.$darker;
		border-radius: m.$border-radius;
		border: m.$border;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		box-shadow: m.$shadow-lg;
		.pieces{
			width: 100%;
			justify-content: space-between;
			align-items: center;
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 1.25rem/* 20px */;
			.piece {
				background-color: m.$dark;
				border-radius: m.$border-radius;
				border: m.$border;
				cursor: pointer;
				filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.33));
				padding: 0.5rem;
				&:hover {
					background-color: #4c4c4c33; 
				}
				img {
					height: 5rem;
				}
			}
		}
		h2 {
			padding: 0.75rem;
			text-align: center;
			width: 100%;
			font-size: 1.6rem;
		}
		button {
			padding: 0.75rem;
			font-size: 1.4rem;
			width: 100%;
		}
	}
}

.orientation-prompt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0.75rem;  
	flex-grow: 1;
	text-align: center;
	background-color: m.$orange;
	border: m.$border;
	border-radius: m.$border-radius;
	display: flex;
	flex-direction: column;
	// box-shadow: m.$shadow-sm;
	.title {
		font-size: 1.35rem;
		color: #fff;
	}
	img{
		height: 5rem;
	}
	// .message{
	// }
}


//  BREAKPOINTS 
@media (min-width: m.$x-small) {
	.orientation-prompt{
		display:none;
	}
}

@media (min-width: m.$small) {
	.promotion-wrapper .promotion{
		// width:30%;
		.pieces .piece{
			img {
				height: 15vh !important;
			}
		}
	}
	.tagline {
		width: 66.666667% !important;
	}
	.picture {
		display: inline-block !important;
	}
	#message-1 {
		animation: reveal-1 7s infinite, pause-between-iterations 3s !important;
	}
	#message-1 span {
		animation: slidein-1 7s infinite, pause-between-iterations 3s !important;
	}

	.btn-wrapper {
		margin: .5rem !important;
		&.right {
			display: block !important;
			// :first-child { 
			// & > .control-btn:first-of-type  { margin-bottom: 0.5rem;}
			// .control-btn:nth-of-type(1){ 
			.control-btn {
				&.first {
					// margin-bottom: 0.25rem; 
					// margin-bottom: .5rem !important; 
					margin-right: 0 !important;
				}
			}
			.menu {
				margin-bottom: 5rem !important;
				margin-right: 0 !important;
			}
		}
	}

	.player {
		// width: 40% !important;
		width: 14rem/* 224px */ !important;
		max-width: 14rem/* 224px */ !important;
		.tagline {
			&.left{
				padding-left: 0.5rem;
			}
			&.right{
				padding-right: 0.5rem;
			}
		}
	}
}

 // when in landscape view
@media (max-height: m.$landscape) {
	.player-section .player{
		padding: 0.5rem;
		.tagline .name{
			font-size: 1.3rem;
		}
	}
	.controls-wrapper .controls .control-btn{
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
}


// @media (min-width: m.$medium) {
// 	.player-section .player{
// 		flex-direction: row !important;
// 		flex-wrap: nowrap;
		
// 	}
// }

