// 989695

// 383633 darker
.player {
  padding-left: 0.75rem/* 12px */;
  padding-right: 0.75rem/* 12px */;
  width: 40%;
  &.one { float:left; }
  &.two { float:right; }
}
@media (min-width: 1024px) {
  .player {
      width: 14rem/* 224px */;
  }
}

.clock {
  background-color: #989695;
}

button {
  pointer-events: auto;
}
// div {
//   height: 100px;
//   background-color: red;
//   background-image:
//     radial-gradient(
//       yellow,
//       #f06d06
//     );
// }

/*Button Two*/
.button-two {
  border-radius: 4px;
  background-color:#d35400;
  border: none;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
   font-size: smaller;
  content: '⇡';
  position: absolute;
  opacity: 0;
  top: 8px;
  right: 0;
  left: 0;
  transition: 0.5s ease;
}

.button-two:hover span {
  padding-top: 5px;
}

.button-two:hover span:after {
  opacity: .8;
  top: -13px;
  right: 0;
  left: 0;
}
// --------------
.winner{
  overflow:   hidden;

  &:after {
    animation: shine 2s ease-in-out  infinite;
    animation-fill-mode: forwards;  
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 100px;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
  }
  
}
// .winner:hover {
//   &:after {
//     left: 120%;
//     width: 20px;
//     transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
//   }
// }

@keyframes shine {
  10% {
    opacity: .6;
    top: -90%;
    left: -90%;
    transition-property: left, top, opacity;
    transition-duration: 0.1s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -90%;
    left: 50%;
    transition-property: left, top, opacity;
  }
}

// ---------------------------------------
//  win banner courtesy of https://codepen.io/1bruddah/pen/ERjWxg
.match-message{
  margin-top: .5rem;
}
.messages {
  flex: 1 1 auto;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}
.messages div {
  /*animation: move .5s ease-in-out 0.5s 4 alternate;*/
  overflow:hidden;
  border: 1px solid transparent;
  font-family: Century Gothic, sans-serif;
}
.message-topic {
  font-weight: bold;
  font-size: 2.25rem;
  margin: 1rem 0 1rem 0;
  // margin-right: 1rem;
  padding: .5rem 1rem .5rem 1rem;
}
.message-content {
  font-size: 1.85rem;
}
#topic-1 {
  animation: showup-1 7s infinite;
  border-right: 1px solid #666;
}
#message-1 {
  width:0px;
  height:0px;
  animation: reveal-1 7s infinite;
}
#message-1 span {
  margin-left:-50vw;
  animation: slidein-1 7s infinite;
}

@keyframes showup-1 {
  0% { opacity:0; border-right-color: transparent;}
  20% { opacity:1; }
  35% { border-right-color: #AAA;}
  80% { opacity:1; }
  100% { opacity:0; }
}
@keyframes reveal-1 {
  0% { opacity:0; width:0px; height:0;}
  20% { opacity:1; width:0px; height:3rem;}
  30% { width:550px; }
  80% { opacity:1; }
  100% { opacity:0; width:550px; height:3rem;}
}
@keyframes slidein-1 {
  0% { margin-left:-600px; }
  20% { margin-left:-600px; }
  30% { margin-left:0px; }
  100% { margin-left:0px; }
}