@use '../master' as m; 
@import './loader/loader.scss'; 
@import './controls/controls.scss'; 
@import './sidePanel/sidePanel.scss'; 


.game-room {
    height: 100%;
    display: flex;
    // background-color: #64533B;
    // background-color: #32291d;
    background-color: #1f1f1f;
    // background-color: #212121;
    // background-image: linear-gradient(to bottom right,  #1b1b1b,#1f1f1f);
    animation: fade-in 0.3s ease;
    .game-area{
        position: relative;
        flex-grow: 1;
    }
    #renderCanvas {
        width: 100%;
        height: 100%;
        margin-left: 0.5rem;
        outline: none;
        // border: 1px solid grey;	
    }
}

// tan A38560
// beige A9A9A9
// beige EBEBD3
// shit green A8A8A8
// shit green 708B75
