
.side-panel { 
    background-color: #989695;
    width: 25%;
    // transition: transform 1s, width 1s; // width only needs to transition 1/4 (25%) as long as translationX does
}
.panel-hidden{
    width: 0%;
    // transform: translateX(25vw);
}
.chat-window { 
    overflow: auto;
    overflow-x: hidden;
    padding: 10px 10px;
    height: 85%;
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.chat-footer { 
    bottom: 0;
    position: relative;
    width: 100%;
    height:15%;
    padding: 3px 3px;
}
.chat-footer .input-wrapper { 
    display: inline-block;
    height: 40px;
    border-radius: 5px;
    /*border: 2px solid rgba(16, 93, 146, 1);*/
    width: 100%;
    position: relative;
    padding: 0 20px;
}
.chat-footer .input-wrapper .chat-input {
    position: absolute;
    top: 5%;
    height: 90%;
    width: calc(100% - 40px);
    border: none;
    box-sizing: border-box;
    outline-width: 0;
    background-color: #f8f8f8;
    /*background: rgba(0, 0, 0, 0.3);*/
    padding: 0.9em;
}

/* Chat containers */
.message {
    // border: 2px solid #dedede;
    // background-color: #f1f1f1;
    // border-color: #ccc;
    // background-color: #ddd;
    /* Style images */
    img {
        max-height: 40px;
        max-width: 40px;
        // width: 100%;
    }
}


/* Clear floats */
.message::after {
    content: "";
    clear: both;
    display: table;

}


