@use '../master' as m; 


.alert-wrapper {
	flex-direction: column;
	z-index: 0;
	pointer-events: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
    // align-items: flex-end;
    align-items: flex-start;
    display: flex;
}

.alert {
	display: flex;
	flex-direction: row;
	// flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	// width: 94%;
	height: fit-content;
	width: auto;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5rem;
	opacity: .98;
	pointer-events: initial;
	// top: .5rem;
	// border-radius: 0.25rem/* 4px */;
	transform: translateX(-50%);
	// background-color: #e9e9e9;
	// background-color: rgb(48, 48, 48);
    background-color: m.$darker;
	// color: rgb(184, 189, 199);
	// color: #737A87;
	// color: rgba(55, 65, 81, 1);
	// box-shadow: m.$shadow-sm;
	border: m.$border;
	position: relative;

	&.none {
		// border-left-width: m.$border-width;
	}
	&.game {
		border-color: #fff;
	}
	&.warn {
		border-color: #d6f13c;
	}
	&.info {
		border-color: m.$spec-blue-alt;
		// background-color: rgba(219, 234, 254);
		// border-color: rgba(59, 130, 246);
		// border-color: #3B82F6;
		// border-left-color: #0075ff;
		// border-left-color: m.$spec-blue-alt;
	}

	.alert-icon {
		border: m.$border;
		background-color: m.$dark;
		display: flex;
		flex-shrink: 0;
		width: 5rem;
		align-items: center;
		justify-content: center;
		// border-color: m.$blue-gray;
		img {
			padding-left: 0.75rem/* 12px */;
			padding-right: 0.75rem/* 12px */;
			height: 100%;
		}
	}

	.alert-text{
		pointer-events: none;
		border-left-width: 0px;
		padding: 0.75rem;  
		flex-grow: 1;
		&.center {
			// padding:.25rem;
			text-align: center;
		}
		.alert-title {
			font-size: 1.35rem;
			color: #fff;
		}
		.alert-message{
			color: m.$light-gray-blue;
		}
		.DAG {
			pointer-events: all;
			display: flex;
			align-items: center;
			// justify-content: center;
			position: absolute;
			font-size: m.$font-size-sm;
			left: 0px;
			bottom: 0px;
			transform: translate(.5%, 101.5%);
			// box-shadow: m.$shadow-sm;
			border: m.$border;
    		background-color: m.$darker;
			border-top-width: 0px;
			color: m.$light-gray;
			padding: .5rem/* 16px */;
			input {
				// margin-left: .5rem/* 16px */;
				margin-right: .25rem/* 16px */;
			}
			.remember {
				margin-left: 0.25rem/* 4px */;
			}
			.dont-ask {
				display:none;
				margin-left: 0.5rem
			}
		}

	}

	.alert-options{
			pointer-events: all;
			display: flex;
			flex-shrink: 0;
			flex-direction: column;
			font-weight: 600;
			border-color: m.$blue-gray;
			border-left-width: 1px;
			.alert-button {
				color: m.$light-blue;
				padding: 0.25rem;
				padding-left: 1rem/* 16px */;
				padding-right: 1rem/* 16px */;
				flex-grow: 1;
				font-weight: 600;
				&.default {
					color: m.$light-font;
					padding: 0.25rem;    
					padding-left: 1rem/* 16px */;
					padding-right: 1rem/* 16px */;
				}
				&:hover{
					background-color: m.$gray;
				}
			}
			:not(:last-child) {
				border-bottom: m.$border
			}
	}

	transform: scaleX(1);
	transition: all .2s ease-in-out;
	&.hidden {
		// display: none;
		visibility: hidden;
		opacity: 0;
		transform: scaleX(0);
	}
}

//  BREAKPOINTS 
// @media (min-width: 600px) {
// 	.alert {
// 		// width: auto;
// 	}
// 	.lobby {
// 		.alert {
// 			margin-left: .5rem !important;
// 		}
// 	}
// }
// //   'lg': '1024px',
// @media (min-width: m.$large) {
// 	.lobby {
// 		.alert {
// 			margin-left:auto !important;
// 		}
// 	}
// }

@media (min-width: m.$medium) {
	.DAG {
		right: 0px !important;
		left: revert !important;
		.remember {
			display: none !important;
		}
		.dont-ask{
			display: inline !important;
		}
	}
}