@use './master' as m; 
@import './preflight'; 
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

@import './Admin/admin.scss'; 
@import './Entrance/entrance.scss'; 
@import './GameRoom/room.scss'; 
@import './Lobby/lobby.scss'; 
@import './shared/alert.scss'; 

// @font-face {
//     font-family: 'Crete-Round';
//     src: url('../assets/fonts/CreteRound-Italic.ttf')  format('truetype');    
//     font-weight: 400;
//     font-style: italic;
// }
@font-face {
    font-family: 'Crete-Round';
    src: url('../assets/fonts/CreteRound-Regular.ttf')  format('truetype');    
    font-weight: 400;
    font-style: normal;
}

html, body {
    overflow: hidden; 
    width: 100%;
    height: 100%;
    /* width: 100vw;
    height: 100vh; */
    margin: 0;
    padding: 0;
    touch-action: none;
    -ms-touch-action: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: m.$font-family;
    font-size: m.$font-size-sm;
    font-weight: m.$font-weight--normal;
    color: m.$light-font;
    background-color: m.$bg-primary;
    // grid bg
    // background-color: #212121;
    // background-image: 
    //     linear-gradient(m.$green 0.1em, transparent 0.1em), 
    //     linear-gradient( 90deg  , m.$green 0.1em, transparent 0.1em);
    // background-size: 3em 3em;

    background-color: m.$lobby-bg-clr; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, m.$dark, #343434, m.$dark); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, m.$dark, #343434, m.$dark);

    // slow blink animation 
    // -webkit-animation: blink-bg .8s infinite;  /* Safari 4+ */
    // -moz-animation: blink-bg .8s infinite;  /* Fx 5+ */
    // -o-animation: blink-bg .8s infinite;  /* Opera 12+ */
    // animation: blink-bg .8s infinite;  /* IE 10+, Fx 29+ */
    // animation-timing-function: cubic-bezier(0.25, 0.1, 0.85, 1);
	// animation-iteration-count: 6;
    // transition: all .3s ease;
    
    @keyframes blink-bg {
        0% { background-color: m.$dark; }
        40% { background-color: m.$dark-brown; }
        100% { background-color: m.$dark-brown; }
    }

    .app {
		width: 100%;
		height: 100%;
    }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	appearance: none;
	// background-color: m.$action-color;
	border: 0;
	//   color: m.$action-color--contrast;
	cursor: pointer;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	//   font-weight: 600;
	text-align: center;
	text-decoration: none;
	transition: background-color var(m.$duration) var(m.$timing);
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&:hover {
		// background-color: m.$action-color--alt;
	}

	&:focus {
		outline: var(m.$focus-outline);
		outline-offset: var(m.$focus-outline-offset);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.no-pointers{
    pointer-events: none;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
