@import './Lobby/lobby.scss'; 
@import './GameRoom/gameRoom.scss'; 

html, body {
    overflow: hidden; 
    width: 100%;
    height: 100%;
    /* width: 100vw;
    height: 100vh; */
    margin: 0;
    padding: 0;
    touch-action: none;
    -ms-touch-action: none;
    background-color: #0002;
    font-family: "Calibri", "Roboto", sans-serif;
}
p {
    margin: 1em;
    font-size: 18px;
}
input {
    font-size: 18px;
}

#renderCanvas {
    width: 100%;
    height: 100%;
	// outline: none;
    // border: 1px solid grey;	
}


