
//================================================================================
// Colors
//================================================================================
$white: #dcdcdc;
$light-gray: #a7a7a7;
$light-gray-blue: #b8bdc6;
$gray: #333;
$blue-gray: rgba(107,114,128,.2);
$tan: #f5f5f5;
$beige: #64533B;
$brown: #40382c;;
$dark-brown: #32291d;
$dark-brown: #1d1b19;
// $dark: #1f1f1f;
// $dark: #1d1b19;
$dark: #272522;
// $darker: #1A1A1A;
// $darker: #1f1f1f;
$darker: #1d1b19;
// $darker: #272522;
// $green: #64972b;  
$green: #65972B;  
// $green: #79a547;  
// $green: #5d951d;  
$dark-green: #47682c;  
// $light-green: #527634;  
$mid-green: #558321;  
// $bright-green: #559b06;  
// $blue: #2C2EAF;  
$blue: #281fcb;  
// $action-blue: #2C2EAF;
// $action-blue: #494ba7;
$action-blue: #294cad;
$light-blue: rgba(79, 70, 229);
$spec-blue: #18a8;
$spec-blue-alt: #18a;
$orange: #d75923;
$light-orange: #FF4B0A;

//================================================================================
// Colors Scheme
//================================================================================
$primary-color: $beige;
$primary-color--contrast: $dark;
$secondary-color: $dark-brown;
// Backgrounds
$bg-primary: $primary-color;
$bg-contrast: $primary-color--contrast;
$bg-secondary: $secondary-color;
// Button Colors
$btn-primary: $blue;
$btn-primary-hover: $light-blue;
$btn-secondary: $beige;
$btn-secondary-hover: $beige;
// Font Colors
$light-font: #dbdbdb;
$dark-font: $dark-brown;
//================================================================================
// Typography
//================================================================================
$font-family: 'Crete-Round', "Calibri", sans-serif;
// $font-family--heading: var('Quattrocento Sans');
$font-size-lg: 1.6rem;
$font-size: 1.4rem;
// $font-size: 1.4rem;
$font-size-sm: 1.125rem;
$font-weight--thin: 100;
$font-weight--normal: 400;
$font-weight--semi-bold: 600;
$font-weight--extra-bold: 900;
// Line heights
$line-height: 1.5;
$line-height--heading: 1.2;


//================================================================================
// Spacing
//================================================================================
$spacing: 1.5rem;
$spacing-sm: 0.75rem;
$spacing-xs: 0.25rem;
// Borders
$border-radius: 0.1875rem;
$border-width: 0.0425rem;
// $border: var(--border-width) solid currentColor;
$border: $border-width solid $blue-gray;
// Focus
$focus-outline-width: 0.1875rem;
$focus-outline-offset: 0.125rem;
$focus-outline: var(--focus-outline-width) solid #{$white};

//================================================================================
// Misc
//================================================================================
// Animations
$duration: 150ms;
$timing: ease;
// Shadows
$supp-shadow: var(0 0 #0000, 0 0 #0000);
$shadow: $supp-shadow, $supp-shadow, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-sm: 2px 2px 6px #000;
$shadow-lg: rgba(0, 0, 0, 0.45) 0px 5px 10px;

//================================================================================
// Breakpoints (width)
//================================================================================
$x-small: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;
$x-large: 1280px;
$landscape: 567.98px; // height
// !Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }
// !Medium devices (tablets, 768px and up)
// @media (min-width: m.$medium) and (max-width: 991.98px) { ... }
// !Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }


//================================================================================
// Lobby page
//================================================================================
$lobby-bg-clr: $dark;
$table-bg-clr: $darker;
$table-row-bg-clr: $brown;
$create-bg-clr: #2C2EAF;
$create-hover-bg-clr: rgba(79, 70, 229);
// background-color: rgb(151, 87, 38);
$cancel-bg-clr: $orange;
// background-color: rgb(180, 117, 45);
$cancel-hover-bg-clr: $light-orange;
$scroll-thumb-clr: #3e4346;
$scroll-track-clr: rgba(107,114,128,1);

//================================================================================
// Create component
//================================================================================
$create-modal-bg-clr: $darker;
// $create-bg-clr: $secondary-color;
// $type-bg-clr: $dark-green;
// $type-bg-clr: $brown;
$type-bg-clr: $green;
$type-selected: $mid-green;
// $type-bg-clr: #17375E;
// $type-selected: #155567;

//================================================================================
// Custom component
//================================================================================
$control-bg-clr: $dark;
// $type-bg-clr: $dark-green;
// $identity-bg-clr: #527634;
$identity-bg-clr: $dark;
$sec-ctrl-bg-clr: #32291d;

