
// Colors
$white: #dcdcdc;
$light-gray: #a7a7a7;
$light-gray-blue: #b8bdc6;
$gray: #333;
$blue-gray: rgba(107,114,128,.2);
$tan: #f5f5f5;
$beige: #64533B;
$brown: #40382c;;
$dark-brown: #32291d;
$dark: #1f1f1f;
$darker: #1A1A1A;
$green: #64972b;  
// $green: #79a547;  
// $green: #5d951d;  
$dark-green: #47682c;  
$light-green: #527634;  
$bright-green: #559b06;  
// $blue: #2C2EAF;  
$blue: #281fcb;  
$light-blue: rgba(79, 70, 229);
$spec-blue: #18a8;
$spec-blue-alt: #18a;
$orange: #d75923;
$light-orange: #FF4B0A;

// Color Sceme
$primary-color: $beige;
$primary-color--contrast: $dark;
$secondary-color: $dark-brown;
// Backgrounds
$bg-primary: $primary-color;
$bg-contrast: $primary-color--contrast;
$bg-secondary: $secondary-color;
// Button Colors
$btn-primary: $blue;
$btn-primary-hover: $light-blue;
$btn-secondary: $beige;
$btn-secondary-hover: $beige;
// Font Colors
$light-font: rgb(219, 219, 219);
$dark-font: $dark-brown;
// Typography
$font-family: 'Crete-Round', "Calibri", sans-serif;
// $font-family--heading: var('Quattrocento Sans');
$font-size-lg: 1.6rem;
$font-size: 1.4rem;
$font-size-sm: 1.1rem;
$font-weight--thin: 100;
$font-weight--normal: 400;
$font-weight--semi-bold: 600;
$font-weight--extra-bold: 900;
// Line heights
$line-height: 1.5;
$line-height--heading: 1.2;
// Other Sizes
$border-radius: 0.1875rem;
$spacing: 1.5rem;
$spacing-sm: 0.75rem;
$spacing-xs: 0.25rem;
// Borders
$border-width: 0.0425rem;
// $border: var(--border-width) solid currentColor;
$border: $border-width solid $blue-gray;

// Focus
$focus-outline-width: 0.1875rem;
$focus-outline-offset: 0.125rem;
$focus-outline: var(--focus-outline-width) solid #{$white};
// Animations
$duration: 150ms;
$timing: ease;
// Shadows
$supp-shadow: var(0 0 #0000, 0 0 #0000);
$shadow: $supp-shadow, $supp-shadow, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-sm: 2px 2px 6px #000;
$shadow-lg: rgba(0, 0, 0, 0.45) 0px 5px 10px;

//================================================================================
// Entrance
//================================================================================

//================================================================================
// Lobby
//================================================================================
$lobby-bg-clr: $dark;
$table-bg-clr: $darker;
$table-row-bg-clr: $brown;
$create-bg-clr: #2C2EAF;
$create-hover-bg-clr: rgba(79, 70, 229);
// background-color: rgb(151, 87, 38);
$cancel-bg-clr: $orange;
// background-color: rgb(180, 117, 45);
$cancel-hover-bg-clr: $light-orange;
$scroll-thumb-clr: #3e4346;
$scroll-track-clr: rgba(107,114,128,1);

//================================================================================
// Create
//================================================================================
$create-modal-bg-clr: $darker;
// $create-bg-clr: $secondary-color;
// $type-bg-clr: $dark-green;
// $type-bg-clr: $brown;
$type-bg-clr: $green;
$type-selected: $bright-green;
// $type-bg-clr: #17375E;
// $type-selected: #155567;


//================================================================================
// Custom
//================================================================================
$control-bg-clr: $dark;
// $type-bg-clr: $dark-green;
// $identity-bg-clr: #527634;
$identity-bg-clr: $dark;
$sec-ctrl-bg-clr: #32291d;

//================================================================================
// Room
//================================================================================


//================================================================================
// Controls
//================================================================================


//================================================================================
// Sidepanel
//================================================================================