@use '../master' as m; 
@import './create/create.scss'; 
@import './pin/pin.scss'; 

@import '../shared/alert.scss'; 

.lobby {
    background-color: m.$lobby-bg-clr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    font-size: m.$font-size;
    .hide-sm {
        display:none;
    }
    .hide-md {
        display:none;
    }
    .lobby-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &.move-for-alert{
            justify-content: end;
        }
        width: 100%;
        max-width: 100%;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;

        .lobby-header {
            height:14vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                text-shadow: m.$shadow-sm;
                font-size: 10vh;
                padding-left: 1.25rem/* 20px */;
                padding-right: 1.25rem/* 20px */;
                line-height: 1.5rem/* 24px */;
                font-weight: 700; 
                line-height: 1.5;     
                color: #f3f4f6;  
            }
            button {
                position: relative;
                display: flex;   
                align-items: center;
                padding: 1rem/* 16px */;
                margin-right: 1rem/* 16px */;
                background-color: m.$create-bg-clr;
                font-size: 1.8rem/* 20px */;
                border-radius: m.$border-radius;
                &:hover{
                    background-color: m.$create-hover-bg-clr;
                }
                &:focus{
                    outline: 2px solid transparent;
                    outline-offset: 2px;
                    // --tw-ring-color: rgba(49, 46, 129);
                }
                // box-shadow: rgb(255, 255, 255) 0px 0px 0px 4px, rgba(67, 56, 202) 0px 0px 0px 8px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
                &.cancel {
                    // background-color: rgb(151, 87, 38);
                    // background-color: #E53D00;
                    background-color: m.$cancel-bg-clr;
                    // box-shadow: rgb(255, 255, 255) 0px 0px 0px 4px, rgba(180, 83, 9) 0px 0px 0px 8px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
                    &:hover{
                        // background-color: rgb(180, 117, 45);
                        background-color: m.$cancel-hover-bg-clr;
                    }
                }
                p {
                    padding-right: .25rem;
                    color: rgba(255, 255, 255)
                }
            }
        }

        .table-wrapper {
            height:65vh;
            position: relative;
            overflow: auto;
            padding-left: 1rem;
            padding-right: 1rem;
            background-color: m.$table-bg-clr;
            border: m.$border;
            border-radius: m.$border-radius;
            .table-empty {
                position:absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                padding-top: 3rem;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center; 
                align-items: center;
                img {
                    width: 100%;
                    text-align: center;
                    height: 16rem;
                    opacity: .85; 
                }
                .message {
                    width: 100%;
                    text-align: center;
                    color: #81898f;
                    margin-top: -2rem;
                }
            }

            .selected-room {
                // background-color: #383838;
                background-color: m.$spec-blue;
            }

            table {
                width: 100%;
                border-spacing: 0 15px;
                position: relative;
                border-collapse: collapse;
                color: rgb(209, 213, 219);
                // font-size: 0.875rem/* 14px */;
                // line-height: 1.25rem;

                thead {
                    color: rgb(184, 189, 198);
                    text-transform: uppercase;
                    line-height: 1.75rem;
                    height:3.2rem;
                    letter-spacing: 0.05em;

                    tr {
                        border-bottom-width: .2rem;
                        border-color: rgb(184, 189, 198, .1);
                    }

                    th {
                        padding-right: .5rem;
                        padding-left: .5rem;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        background-color: m.$table-bg-clr;
                        text-align: start;
                        // padding-right: 20px;
                        position: sticky;
                        top: 0;

                        span {
                            display: block;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }

                tbody {
                    transition: all .3s ease-in-out;
                    &.loading-table {
                        width: 100%;
                        opacity: 100%;
                        tr {
                            padding-left: m.$spacing-sm;
                            // border-bottom: 1px solid rgba(0,0,0,.1);
                            td {
                                span {
                                    display: block;
                                }
                                .data {
                                    height: 12px;
                                    border-radius: m.$border-radius;
                                    background: linear-gradient(to right, #666666  10%, #5c5858 30%, #666666 80%);
                                    background-size: 500px 100px;
                                    animation-name: moving-gradient;
                                    animation-duration: 1s;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: linear;
                                    animation-fill-mode: forwards;
                                    flex-grow: 1;
                                }
                                .img {
                                    // background-color: #303030;
                                    height: 3.2rem/* 24px */;
                                    width: 3.2rem/* 24px */;
                                    
                                    background-color: #646464;
						            border-radius: 9999px;
                                }
                                &.players {
                                    span {
                                        min-height: 2.5rem;
                                        min-width: 3.2rem;
                                        
                                    }
                                }
                                &.time {
                                    .data {
                                        max-width:90%;
                                    }
                                }
                                &.host {
                                    align-items: center;
                                    .data{
                                        min-width: 3rem;
                                    }
                                }
                                &.enter {
                                    display:flex;
                                    justify-content: center;
                                    align-items: center;
                                    // width: 10rem;
                                    span {

                                        width: 5.2rem;
                                        height: 2.8rem;
                                        // border-width: 1px;
                                        // border-color: #D6EBC0;
                                        border-radius: m.$border-radius;
                                        pointer-events: auto;
                                        background-color: #5f9139;
                                        padding-top: .5rem;
                                        padding-bottom: .5rem;
                                        // background-color: rgba(0,0,0,.15);
                                    }
                                    &.host {
                                        span {
                                            background-color: rgb(23, 55, 94) !important;
                                        }
                                    }
                                }

                            }
                        }
                        @-webkit-keyframes moving-gradient {
                            0% { background-position: -250px 0; }
                            100% { background-position: 250px 0; }
                        }
                    }

                    tr {
                        // background-color: #513b00;
                        background-color:  m.$table-row-bg-clr;
                    }

                    td {
                        padding-right: m.$spacing-sm;
                        padding-left: .65rem;
                        padding-top: m.$spacing-sm/* 12px */;
                        padding-bottom: m.$spacing-sm/* 12px */;
                        margin-bottom: m.$spacing-sm/* 12px */;
                        margin-top: m.$spacing-sm/* 12px */;
                        height:4rem;
                        align-items: center;
                        text-align: start;
                        // font-size: 1.125rem/* 18px */;

                        // text-align: left;
                        .img {
                            width: 2.5rem/* 24px */;
                            height: 2.5rem/* 24px */;
                            margin-right: 0.5rem;

                        }
                        .opt-img {
                            max-height: 3.5rem;
                        }

                        &.host {
                            display: flex;
                            span {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                        }
                        &.time {
                            font-weight: 700;
                            .min::after {
                                content: "|";
                                // float: right;
                                padding-left: 5px;
                                padding-right: 5px;
                                // color: #fff;
                                color: #666666;
                            }
                        }
                        &.players {
                            // text-align: center;
                            padding-right: m.$spacing;
                            span {
                                letter-spacing: 1px;
                                display: inline-block;
                                align-items: center;
                                display: flex;
                                max-width: fit-content;
                                background-color: rgb(23, 55, 94);
                                color: rgb(153, 173, 230);
                                padding-top: m.$spacing-xs;
                                padding-bottom: m.$spacing-xs;
                                padding-left: m.$spacing-sm;
                                padding-right: m.$spacing-sm;
                                border-radius: 9999px;
                                // font-weight: 600;
                                &.full {
                                    background-color: rgba(254, 202, 202,1);
                                    color: rgba(127, 29, 29, 1);
                                }
                            }
                        }
                        &.action {
                            button {
                                // font-size: 1.125rem/* 18px */;
                                // line-height: 1.25rem/* 28px */;
                                // font-weight: 600;
                                display:flex;
                                align-items: center;
                                background-color: m.$dark-green;
                                color: #bee5a1;
                                padding-top: .5rem;
                                padding-bottom: .5rem;
                                padding-left: 1rem;
                                padding-right: 1rem;
                                border-radius: m.$border-radius;
                                pointer-events: auto;
                                font-size: 1.1em/* 20px */;
                                transition: all .3s ease-in-out;
                                .text{
                                    padding-right: .25rem;
                                }

                                // &:focus {
                                //     outline: 2px solid transparent;
                                //     outline-offset: 2px;
                                // }
                                &:hover {
                                    box-shadow: 0px 5px 0px #335c15;
                                    color: #214c00;
                                    transform: rotateX(30deg) translateY(0);
                                    background-color: #a3d57d;
                                    &:active{
                                        box-shadow: 0 1px 0 #423847;
                                        transition: transform 0.05s, box-shadow 0.3s;
                                        transform: rotateX(30deg) translateY(1px);
                                    }
                                    .locked{
                                        background-color: #214c00;
                                    }
                                }
                                .locked {
                                    // background-blend-mode: overlay;
                                    // border-left: 1px solid #457322;
                                    background-color: #bee5a1;
                                    -webkit-mask: url('../assets/create/custom/lock.svg') no-repeat center;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    opacity:.8;
                                    transition:all .3s ease-in-out;
                                }
                                &.host{
                                    color: rgb(153, 173, 230);
                                    background-color: rgb(23, 55, 94);
                                    .locked {
                                        background-color: rgb(153, 173, 230);
                                    }
                                    &:hover {
                                        .locked {
                                            opacity:.6;
                                            background-color: rgb(23, 55, 94);
                                        }
                                        color: rgb(22, 53, 92);
                                        box-shadow: #182f6e 0px 5px 0px;
                                        background-color: rgb(81, 114, 205);
                                        &:active{
                                            // background: radial-gradient(ellipse at center, 
                                            // rgb(69, 106, 206) 0%,rgb(32, 68, 167) 100%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // scroll bar styling courtesy of  https://jsfiddle.net/vsj6qb8c/6/
        ::-webkit-scrollbar {
            padding-right: 5px;
            padding-left: 5px;
            width: 20px;
            border-width: 5px;
        }
        ::-webkit-scrollbar-track {
            margin-top:3.2rem;
            background: transparent;
        }
        ::-webkit-scrollbar-thumb {
            background-color: m.$scroll-thumb-clr;
            // border-radius: 8px;
            border-color: m.$table-bg-clr;
            border-style: solid;
            border-width: 1px 7px 1px 7px;
        }
        ::-webkit-scrollbar-track-piece {
            background-color: m.$scroll-track-clr;
            border-color: m.$table-bg-clr;
            border-width: 2px 9px 2px 9px;
            border-style: solid;
        }
    }

}

@import './mixins.scss'; 

@include keyframes(ripple-lg){
    to {
        @include transform(scale(1.3));
        opacity: 0;
    }
}
@include keyframes(ripple-sm){
    to {
        @include transform(scale(1.5));
        opacity: 0;
    }
}
.ripple {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    transform-origin: center center;
    transform: scale(1.2);
    animation: 1.5s ripple-sm ease infinite;
    // width: 60px;
    // height: 60px;
    // border-radius: 50%;
    border: .2rem solid #4285F4;
    box-sizing: border-box;
    border-radius: m.$border-radius;
    &.off {
        opacity: 0;
    }
    &:before {
        position: absolute;
        content: '';
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: scale(0.99);
        -moz-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -o-transform: scale(0.99);
        transform: scale(0.99);
        -webkit-animation: 1.5s ripple-lg ease infinite;
        -moz-animation: 1.5s ripple-lg ease infinite;
        animation: 1.5s ripple-lg ease infinite;
        // width: 60px;
        // height: 60px;
        // border-radius: 50%;
        border: 2px solid #4285F4;
        box-sizing: border-box;
    }
}


.modal {
    z-index: 999;
}

//   'lg': '1024px',
@media (min-width: 1024px) {
    .lobby {
        .lobby-main {
            width: 65vw !important;
            max-width: 65vw !important;
            .lobby-header {
                height:18vh;
                button {
                    margin-right: 1rem !important;
                }
            }
        }
    }
}

//   'md': '768px',
@media (min-width: 768px) {
    .hide-md {
        display: revert !important;
    }
}

//   'sm': '640px',
@media (min-width: 640px) {
    .ripple{
        transform: scale(1.1) !important;
        animation: 1.5s ripple-lg ease infinite !important;
    }
    .lobby {
        .lobby-main {
            width: 85vw;
            max-width: 85vw;
            height:auto;
            &.move-for-alert{
                justify-content: center;
            }
            .lobby-header{
                margin-bottom: 1rem;
                button {
                    img {
                        padding-right: 0.5rem;
                    }
                }
            }
        }
        .hide-sm {
            display: revert !important;
        }
    }

}

 // when in landscape view
@media (max-height: 568px) {
    .lobby .lobby-main .table-wrapper .table-empty img {
        height: 9rem !important;
    }
}

@media (min-width: 600px) {
    .lobby .lobby-main .lobby-header button {
        margin-right: 0rem;
    }
}