@use '../master' as m; 
@import './create/create.scss'; 
@import './pin/pin.scss'; 

$header-height: 3.2rem;

// $dark-test: #303030;
// $dark-test: #fff;
$dark-test: #1d1711a1;

.lobby {
    // background-image: 
    //     linear-gradient(m.$green 0.1em, transparent 0.1em), 
    //     linear-gradient( 90deg  , m.$green 0.1em, transparent 0.1em);
    // background-size: 3em 3em;
    // background-blend-mode: color;
    background-color: m.$lobby-bg-clr; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, m.$dark, #343434, m.$dark); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, m.$dark, #343434, m.$dark);
    // background: -webkit-linear-gradient(to right, m.$dark-brown, #343434, m.$dark-brown); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, m.$dark-brown, #0e2a001a, m.$dark-brown);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100%;
    font-size: m.$font-size;

    .alert-wrapper {
        justify-content: end;
        z-index: 1;
        .alert {
            margin: 1rem;
        }
        bottom: 0px;
        align-items: center;
        opacity: .85;
    }
    .hide-sm {
        display:none;
    }
    .hide-md {
        display:none;
    }
    .lobby-main {
        display: flex;
        flex-direction: column;
        justify-content: start;
        // &.move-for-alert{
        //     justify-content: end;
        // }
        width: 100%;
        max-width: 100%;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;

        .lobby-header {
            height:14vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                text-shadow: m.$shadow-sm;
                font-size: 2.5rem;
                padding-left: 1.25rem/* 20px */;
                padding-right: 1.25rem/* 20px */;
                line-height: 1.5rem/* 24px */;
                font-weight: 700; 
                line-height: 1.5;     
                color: #f3f4f6;  
            }
            button {
                position: relative;
                display: flex;   
                align-items: center;
                padding: 1rem/* 16px */;
                margin-right: 1rem/* 16px */;
                // background-color: m.$create-bg-clr;
                // background-color: m.$action-blue;
                font-size: 1.8rem/* 20px */;
                border-radius: m.$border-radius;
                    text-shadow: 2px 2px $dark-test;
                    transform: rotateX(30deg) translateY(0);
                    box-shadow: #182f6e 0px 5px 0px;
                    // background-color: rgb(81, 114, 205);
                    // background-color: #294cad;
                    background-color: m.$action-blue;
                &:hover{
                    background-color: m.$create-hover-bg-clr;
                }
                &:focus{
                    outline: 2px solid transparent;
                    outline-offset: 2px;
                    // --tw-ring-color: rgba(49, 46, 129);
                }
                // box-shadow: rgb(255, 255, 255) 0px 0px 0px 4px, rgba(67, 56, 202) 0px 0px 0px 8px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
                &.cancel {
                    // background-color: rgb(151, 87, 38);
                    // background-color: #E53D00;
                    background-color: m.$cancel-bg-clr;
                    box-shadow: #83300d 0px 5px 0px;
                    // box-shadow: rgb(255, 255, 255) 0px 0px 0px 4px, rgba(180, 83, 9) 0px 0px 0px 8px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
                    &:hover{
                        // background-color: rgb(180, 117, 45);
                        background-color: m.$cancel-hover-bg-clr;
                    }
                }
                p {
                    padding-right: .25rem;
                    color: rgba(255, 255, 255)
                }
            }
        }

        .table-wrapper {
            filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.33));
            flex-grow: 1;
            position: relative;
            overflow: auto;
            // padding-left: 1rem;
            // padding-right: 1rem;
            background-color: m.$table-bg-clr;
            border: m.$border;
            border-radius: m.$border-radius;
            .table-empty {
                position:absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                padding-top: 3rem;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center; 
                align-items: center;
                img {
                    height: 12rem !important;
                    width: 100%;
                    text-align: center;
                    // height: 12rem;
                    opacity: .85; 
                }
                .message {
                    width: 100%;
                    text-align: center;
                    color: #81898f;
                    margin-top: -2rem;
                }
            }

            .selected-room {
                // background-color: #383838;
                background-color: m.$spec-blue;
            }

            table {
                // padding-left: 1rem;
                // padding-right: 1rem;
                width: 100%;
                border-spacing: 0 15px;
                position: relative;
                border-collapse: collapse;
                color: rgb(209, 213, 219);
                // font-size: 0.875rem/* 14px */;
                // line-height: 1.25rem;

                tr{
                    // padding-right: 1rem;
                    td:first-child{
                        padding-left: .75rem;
                    }
                }

                thead {
                    z-index:2;
                    // color: rgb(184, 189, 198);
                    // color: #f3f4f6;
                    // color: $dark-test;
                    text-shadow: 2px 2px $dark-test;
                    text-transform: uppercase;
                    line-height: 1.75rem;
                    height:$header-height;
                    letter-spacing: 0.05em;
                    font-weight: 200;

                    // background-color: m.$green;
                    tr {
                        th:first-child{
                            padding-left: .75rem;
                        }
                        border-bottom-width: .2rem;
                        border-color: rgb(184, 189, 198, .1);
                    }

                    th {
                        padding-right: .5rem;
                        padding-left: .5rem;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        // background-color: m.$green;
                        background-color: m.$type-selected;
                        // background-color: m.$table-bg-clr;
                        text-align: start;
                        // padding-right: 20px;
                        position: sticky;
                        top: 0;

                        span {
                            display: block;
                            height: 100%;
                            width: 100%;
                        }

                        &.Host{
                            width: 35%;
                        }
                        &.Game{
                            width: 30%;
                        }
                        &.Action{
                            width: 35%;
                        }
                    }
                }

                tbody {
                    transition: all .3s ease-in-out;
                    &.loading-table {
                        width: 100%;
                        opacity: 100%;
                        tr {
                            padding-left: m.$spacing-sm;
                            // border-bottom: 1px solid rgba(0,0,0,.1);
                            td {
                                span {
                                    display: block;
                                }
                                .data {
                                    height: 12px;
                                    border-radius: m.$border-radius;
                                    background: linear-gradient(to right, #868788  10%, #bbbbbbf2 30%, #868788 80%);
                                    background-size: 500px 100px;
                                    animation-name: moving-gradient;
                                    animation-duration: 1s;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: linear;
                                    animation-fill-mode: forwards;
                                    flex-grow: 1;
                                }
                                .img {
                                    // background-color: #303030;
                                    height: 3rem;
                                    width: 3rem;
                                    // background-color: #868788;
                                    background: linear-gradient(to right, #868788  10%, #bbbbbbf2 30%, #868788 80%);
                                    background-size: 500px 100px;
                                    animation-name: moving-gradient;
                                    animation-duration: 1s;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: linear;
                                    animation-fill-mode: forwards;
						            border-radius: 9999px;
                                }
                                &.players {
                                    span {
                                        min-height: 2.5rem;
                                        min-width: 3.2rem;
                                        border:none;
                                    }
                                }
                                &.time {
                                    .data {
                                        max-width:90%;
                                    }
                                }
                                &.host {
                                    align-items: center;
                                    .img {
                                        height: 2.5rem/* 24px */;
                                        width: 2.5rem/* 24px */;
                                    }
                                    .data {
                                        min-width: 2.9rem;
                                        padding-right: 0.75rem;
                                    }
                                    
                                }
                                &.join {
                                    display:flex;
                                    justify-content: center;
                                    align-items: center;
                                    // width: 10rem;
                                    span {

                                        width: 5.2rem;
                                        height: 2.8rem;
                                        // border-width: 1px;
                                        // border-color: #D6EBC0;
                                        border-radius: m.$border-radius;
                                        pointer-events: auto;
                                        background-color: #5f9139;
                                        padding-top: .5rem;
                                        padding-bottom: .5rem;
                                        // background-color: rgba(0,0,0,.15);
                                    }
                                    &.host-btn {
                                        span {
                                            background-color: rgb(23, 55, 94) !important;
                                        }
                                    }
                                }

                            }
                        }
                        @-webkit-keyframes moving-gradient {
                            0% { background-position: -250px 0; }
                            100% { background-position: 250px 0; }
                        }
                    }

                    tr {
                        // background-color: #513b00;
                        background-color:  m.$table-row-bg-clr;
                    }

                    td {
                        padding-right: m.$spacing-sm;
                        padding-left: .65rem;
                        padding-top: m.$spacing-sm/* 12px */;
                        padding-bottom: m.$spacing-sm/* 12px */;
                        margin-bottom: m.$spacing-sm/* 12px */;
                        margin-top: m.$spacing-sm/* 12px */;
                        height:4rem;
                        align-items: center;
                        text-align: start;
                        // font-size: 1.125rem/* 18px */;

                        // text-align: left;
                        .img {
                            width: 2.5rem/* 24px */;
                            height: 2.5rem/* 24px */;
                            margin-right: 0.5rem;

                        }
                        .opt-img {
                            max-height: 3.5rem;
                        }

                        &.host {
                            display: flex;
                            span {
                                // max-width: 2.9rem;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                        }
                        &.time {
                            font-weight: 700;
                            .min::after {
                                content: "|";
                                // float: right;
                                padding-left: 5px;
                                padding-right: 5px;
                                // color: #fff;
                                color: #666666;
                            }
                        }
                        &.players {
                            // text-align: center;
                            padding-right: m.$spacing;
                            span {
                                letter-spacing: 1px;
                                display: inline-block;
                                align-items: center;
                                display: flex;
                                max-width: fit-content;
                                background-color: rgb(23, 55, 94);
                                border: m.$border;
                                border: 0.0425rem solid rgb(243 244 246 / 25%);
                                // color: rgb(153, 173, 230);
                                padding-top: m.$spacing-xs;
                                padding-bottom: m.$spacing-xs;
                                padding-left: m.$spacing-sm;
                                padding-right: m.$spacing-sm;
                                border-radius: 9999px;
                                // font-weight: 600;
                                &.full {
                                    // color: rgba(254, 202, 202,1);
                                    // background-color: #b12020;
                                    background-color: #7c1717;
                                }
                            }
                        }
                        &.action {
                            button {
                                // font-size: 1.125rem/* 18px */;
                                // line-height: 1.25rem/* 28px */;
                                // font-weight: 600;
                                display:flex;
                                align-items: center;
                                background-color: m.$green;
                                // color: #bee5a1;
                                padding-top: .5rem;
                                padding-bottom: .5rem;
                                padding-left: 1rem;
                                padding-right: 1rem;
                                border-radius: m.$border-radius;
                                pointer-events: auto;
                                font-size: 1.1em/* 20px */;
                                transition: all .3s ease-in-out;
                                border: 0.0425rem solid rgb(243 244 246 / 25%);
                                .text{
                                    padding-right: .25rem;
                                }

                                // &:focus {
                                //     outline: 2px solid transparent;
                                //     outline-offset: 2px;
                                // }
                                &:hover {
                                    box-shadow: 0px 5px 0px #335c15;
                                    // color: #214c00;
                                    text-shadow: 2px 2px $dark-test;
                                    transform: rotateX(30deg) translateY(0);
                                    background-color: #4d9517;
                                    &:active{
                                        box-shadow: 0 1px 0 #423847;
                                        transition: transform 0.05s, box-shadow 0.3s;
                                        transform: rotateX(30deg) translateY(1px);
                                    }
                                    .locked{
                                        background-color: #214c00;
                                    }
                                }
                                .locked {
                                    // background-blend-mode: overlay;
                                    // border-left: 1px solid #457322;
                                    background-color: #bee5a1;
                                    -webkit-mask: url('../assets/lobby/create/custom/lock.svg') no-repeat center;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    opacity:.8;
                                    transition:all .3s ease-in-out;
                                }
                                &.join{
                                    color: #fff;
                                    // color: rgb(153, 173, 230);
                                    // background-color: rgb(23, 55, 94);
                                    // background-color: m.$action-blue;
                                    background-color: #182f6e;
                                    
                                    .locked {
                                        background-color: rgb(153, 173, 230);
                                    }
                                    &:hover {
                                        .locked {
                                            opacity:.6;
                                            background-color: rgb(23, 55, 94);
                                            // background-color: #294cad;
                                        }
                                        // color: rgb(22, 53, 92);
                                        text-shadow: 2px 2px $dark-test;
                                        background-color: m.$action-blue;
                                        box-shadow: #182f6e 0px 5px 0px;
                                        // background-color: rgb(81, 114, 205);
                                        background-color: #294cad;
                                        &:active{
                                            // background: radial-gradient(ellipse at center, 
                                            // rgb(69, 106, 206) 0%,rgb(32, 68, 167) 100%);
                                        }
                                    }
                                }
                                &.watch {
                                    // color: #2a2a2a;
                                    background-color: #9d9b00;
                                    text-shadow: 2px 2px $dark-test;
                                    &:hover {
                                        // color: #fff;
                                        .locked {
                                            opacity:.7;
                                        }
                                        // color: rgb(75, 73, 0);
                                        box-shadow: rgb(61, 59, 0) 0px 5px 0px;
                                        &:active{
                                            // background: radial-gradient(ellipse at center, 
                                            // rgb(69, 106, 206) 0%,rgb(32, 68, 167) 100%);
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }

        // scroll bar styling courtesy of  https://jsfiddle.net/vsj6qb8c/6/
        // ::-webkit-scrollbar {
        //     padding-right: 5px;
        //     padding-left: 5px;
        //     width: 20px;
        //     border-width: 5px;
        // }
        // ::-webkit-scrollbar-track {
        //     margin-top: 3.7rem; //header height + 1rem bottom padding
        //     background: transparent;
        // }
        // ::-webkit-scrollbar-thumb {
        //     background-color: m.$scroll-thumb-clr;
        //     // background-color: m.$type-selected;
        //     // background-color: #558321;
        //     // border-radius: 8px;
        //     border-color: m.$dark-brown;
        //     border-style: solid;
        //     border-width: 1px 7px 1px 7px;
        // }
        // ::-webkit-scrollbar-track-piece {
        //     background-color: m.$scroll-track-clr;
        //     border-color: m.$dark-brown;
        //     border-width: 2px 9px 2px 9px;
        //     border-style: solid;
        // }

        ::-webkit-scrollbar {
            width: 20px;
            border-width: 5px;
        }
        ::-webkit-scrollbar-track {
            margin-top:0rem;
            background: transparent;
        }
        ::-webkit-scrollbar-thumb {
            background-color: #999999;
            // border-radius: 8px;
            border-color: m.$create-modal-bg-clr;
            border-style: solid;
            border-width: 1px .2rem 1px .2rem;
        }
        ::-webkit-scrollbar-track-piece {
            background-color: m.$dark;
            // border-color: m.$dark;
            // border-width: 0px .3rem 0px .3rem;
            // border-style: solid;
            // color: #646464
        }
    }

}

@import './mixins.scss'; 

@include keyframes(ripple-lg){
    to {
        @include transform(scale(1.3));
        opacity: 0;
    }
}
@include keyframes(ripple-sm){
    to {
        @include transform(scale(1.5));
        opacity: 0;
    }
}
.ripple {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    transform-origin: center center;
    transform: scale(1.2);
    animation: 1.5s ripple-sm ease infinite;
    // width: 60px;
    // height: 60px;
    // border-radius: 50%;
    border: .2rem solid #4285F4;
    box-sizing: border-box;
    border-radius: m.$border-radius;
    &.off {
        opacity: 0;
    }
    &:before {
        position: absolute;
        content: '';
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: scale(0.99);
        -moz-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -o-transform: scale(0.99);
        transform: scale(0.99);
        -webkit-animation: 1.5s ripple-lg ease infinite;
        -moz-animation: 1.5s ripple-lg ease infinite;
        animation: 1.5s ripple-lg ease infinite;
        // width: 60px;
        // height: 60px;
        // border-radius: 50%;
        border: 2px solid #4285F4;
        box-sizing: border-box;
    }
}

.modal {
    z-index: 5;
}

//   'lg': '1024px',
@media (min-width: m.$large) {
    .lobby {
        .lobby-main {
            width: 65vw !important;
            max-width: 65vw !important;
            .lobby-header {
                height:18vh;
            }

        }
        .alert-wrapper {
            padding-top: 1rem;
            justify-content: start;
            // align-items: center;
        }
    }
}

//   'md': '768px',
@media (min-width: m.$medium) {
    .lobby {
        .lobby-main {
            width: 85vw;
            max-width: 85vw;
            height: auto;
            // &.move-for-alert{
            //     justify-content: center;
            // }
            justify-content: center;
            margin-top: 0px;
            .table-wrapper{
                height: 65vh;
                flex-grow: 0;
                table thead th{
                    &.Host{
                        width: fit-content;
                    }
                    &.Game{
                        width: fit-content;
                    }
                    &.Action{
                        width: fit-content;
                    }
                }
            }
            .lobby-header{
                h1 {
                    padding-left: 0rem;
                    font-size: 3.5rem;
                }
                button {
                    margin-right: 0rem;
                    padding: 1rem;
                }
            }
        }
    }
    .hide-md {
        display: revert !important;
    }
}

//   'sm': '640px',
@media (min-width: m.$small) {
    .lobby .lobby-main 
    .ripple{
        transform: scale(1.1) !important;
        animation: 1.5s ripple-lg ease infinite !important;
    }
    .lobby {
        .lobby-main {
            .lobby-header {
                margin-bottom: 1rem;
                button {
                    img {
                        padding-right: 0.5rem; // button has text not just image when > sm
                    }
                }
            }
            tbody{
                .host{
                    width: 12rem;
                    .name{
                        width: 6rem !important;
                        max-width: 6rem !important;
                        min-width: 3rem !important;
                    }
                }
            }
        }
        .hide-sm {
            display: revert !important;
        }
    }

}
 // when in landscape view
@media (max-height: m.$landscape) {
    .lobby .lobby-main {
        .lobby-header button {
            margin-right: 2rem !important;
            padding: .5rem;
        }
        .table-wrapper {
            table tbody td.host span{
                max-width: 100%;
            }
            .table-empty img {
                height: 7.5rem !important;
            }
        }
    }
}

@media (min-width: m.$x-small) {
    .lobby {
        .lobby-main {
            .table-wrapper {
                thead tr th:first-child{
                    padding-left: 1.5rem !important;
                }
                tr td:first-child{
                    padding-left: 1.5rem !important;
                }
            }
        }
    }
}

// @media (min-width: 600px) {
//     .lobby .lobby-main .lobby-header button {
//         margin-right: 0rem;
//     }
// }
// @media (min-width: 600px) {
//     .lobby {
//         .alert-wrapper {
//             align-items: flex-start;
//         }
//     }
// }