@use '../../../../master' as m; 
// $submit-button-color: #82B64A; //409b6b
// $submit-button-color: #4338CA; //409b6b
// $submit-button-color: #6B944C; //409b6b
// $submit-button-color: #e9ffd2; //409b6b
$submit-button-color: m.$green; //409b6b
// $toggle-track-active-color: #4338CA;
$highlight-color: #b8a776;


.media-section.video{
	// root styles in media.scss
	.video-wrapper{
        min-height: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
        &.show-full{
            .video-player{
                width: 100% !important;
                max-width: 100% !important;
            }
			.video-list{
				display:none;
			}
        }
    }
	.video-player{
		min-height: 0;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		width: 100%;
		height: fit-content;
	}
	.youtube-embed {
		// overflow:hidden;
        border-radius: m.$border-radius;
		padding-top: 56.25%;
		min-width: 100%;
		display: block;
		// background: #CCC;
		background: #000;
		position: relative;
		margin-bottom: 0.5rem/* 8px */;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
		}
		iframe {
			background: rgb(0,0,0);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			&.hidden{
				visibility: hidden;
			}
		}
		.thumb-wrapper{
			z-index: 9;
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			.thumbnail {
				height: 100%;
				width: 100%;
			}
			.thumb-img {
				height: 100%;
				object-fit: cover;
				opacity: .7;
			}
			.middle-icon {
				// top: calc(30%); 
				z-index:2;
				display: flex;
				align-items: center; 
				justify-content: center;
				text-align: center; 
				height: 100%;
				width: 100%;
				svg{
					width: 20%;
				}
				.video-loader { 
					enable-background:new 0 0 50 50;
						&> path {
						// fill: #FF6700;
						fill: #E5E5E5;
					}
				}
				&.video-play-btn{
					cursor: pointer;
					filter: saturate(100%);
					opacity: 1;
					&.disabled {
						cursor: default;
						pointer-events: none;
						filter: saturate(5%);
						opacity: .8;
					}
				}
			}
			// :hover .ytlight__play {
			// 	filter: saturate(100%);
			// 	opacity: 1;
			// }
		}
	}
	.video-form{
		display:flex;
		overflow: hidden;
        border-radius: m.$border-radius;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		// padding-top: 0.5rem/* 8px */;
		margin-bottom: 0.5rem/* 8px */;
		height: 2.5rem/* 40px */;
		min-height: 2.5rem/* 40px */;
		.input-wrapper{
			display: flex;
			justify-content: center;
			min-width: 100%;
			max-width: 100%;
			.input{
				min-width: 0;
				// width: 100%;
				height: 100%;
				// height: 2.5rem/* 40px */;
				flex-grow: 1;
				// background-color: m.$dark;
				background-color: rgba(255, 255, 255, 1);
        		border-radius: m.$border-radius;
				border-top-right-radius: 0px;
				border-top-left-radius: 0px;
				border-bottom-right-radius: 0px;
				border: m.$border;
				border-width: 2px;
				box-shadow: m.$shadow-sm;
				appearance: none;
				// background-color: transparent;
				color: rgba(55, 65, 81,1);
				padding: .5rem;
				line-height: 1.25;
				font-size: 1rem;
				&:focus {
					outline: 2px solid transparent;
					outline-offset: 2px;
				}
				&:disabled{
					background-color: #E8F0FE;
				}
			}
			.submit-button{
				border-radius: m.$border-radius;
				border-top-right-radius: 0px;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				min-width: fit-content;
				height: 100%;
				// height: 2.5rem/* 40px */;
				display: flex;
				background-color: $submit-button-color;
				letter-spacing: 0.05em;
				padding-left: 0.55rem/* 12px */;
				padding-right: 0.55rem/* 12px */;
				color: #fff;;
				align-items: center;
				// font-weight: 600;
				&.processing{
                    -webkit-text-security: disc;
                }
			}
			
		}
		.invalid-message{
			// @apply ml-1 mt-0 mb-2 text-xs text-red-800;
			margin-left: 0.25rem/* 4px */;
			margin-top: 0.4rem;
			margin-bottom: 0rem/* 8px */;
			font-size: 0.84rem/* 12px */;
			line-height: 1rem/* 16px */;
			color: #ff8a8a;
		}
	}
	.video-list {
		background-color: m.$dark;
		border: m.$border;
        border-radius: m.$border-radius;
        max-width: 100%;
        width: 100%;
        flex-grow:1;
        // min-height:30%;
        overflow: auto;
        // font-size: m.$font-size-sm;
        // padding-top: 0.5rem;

		// background-color: #E4E6E7;
		// background-color: #CCCCCC;
		.video-row {
			// margin-bottom: 0.5rem/* 8px */;
			background-color: m.$darker;
            margin-top: .185rem;
            margin-bottom: .185rem;
            overflow: hidden;
			min-height: 2rem/* 56px */;
			// height: 3.5rem/* 56px */;
			height: 2.5rem/* 56px */;
			display: flex;
			cursor: pointer;
            border-top: m.$border;
            border-bottom: m.$border;
            &:first-child{
                margin-top: .0px;
                border-top: 0px;
            }
			&.selected {
				border: .1px solid $highlight-color !important;
                border-left: 0px;
                background-color: #4c4c4c73  !important;
				cursor: default !important;
                color: m.$light-font !important;
				.video-author {
					// color: rgba(107, 114, 128, 1);
					// color: #3e424a;
				}
				.video-title {
					// color: #3e424a;
				}
				.isLoading{
					// color: #050c05 !important;
				}
			}
			&:hover{
                color: m.$darker;
                background-color: rgba(156,163,175,1);
            }

			.video-img {
				// width: 16.666667%;
				width: 25%;
				object-fit: cover;
				// flex: 0 0 20%;
				flex: 0 0 25%;
				justify-content: center;
				// border-right: 1px solid #d9d9d9;
				// background: #f7f6f5;
				background: #000;
				// line-height: 2.07em;
				// color: #b3b3b3;
			}    
			.video-info {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				overflow: hidden;
				display: flex;
				padding-bottom: 0.25rem/* 4px */;
				.video-author{
					padding-left: 0.75rem/* 12px */;
					text-transform: uppercase;
					// color: rgba(243, 244, 246, 1);
					color: #858585;
					letter-spacing: 0.1em;
					font-size: 0.75rem/* 12px */;
					line-height: 1rem/* 16px */;
					text-align: left;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
				.video-title{
					// @apply mt-0 pl-3 pr-1 text-lg overflow-ellipsis whitespace-nowrap overflow-hidden;
					margin-top: 0px;
					padding-left: 0.75rem/* 12px */;
					padding-right: 0.25rem/* 4px */;
					font-size: 1.125rem/* 18px */;
					line-height: 1.75rem/* 28px */;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
				// .isPlaying{
				// 	padding-right: 0.5rem/* 8px */;
				// 	text-transform: uppercase;
				// 	// color: #c3ccde;
				// 	// color: rgba(107, 114, 128, 1);
				// 	color: m.$spec-blue-alt;
				// 	font-size: 0.75rem/* 12px */;
				// 	line-height: 1rem/* 16px */;
				// 	text-align: right;
			
				// }
				.isLoading{
					padding-right: 0.25rem/* 4px */;
					text-transform: uppercase;
					color: #c3ccde;
					font-size: 0.75rem/* 12px */;
					line-height: 1rem/* 16px */;
					text-align: right;
				}
			}
		}
	}
	
}

@media (min-width: m.$small) {
	.hide-mobile{ display:initial !important;}
}


@media (max-height: m.$landscape) {
    .media-section.video {
        .video-wrapper {
			justify-content: start;
            flex-direction: row;
            align-items: start;
            .video-list {
				width: 40%;
                height:100%;
                min-height:100%;
			}

			.video-player{
    			height: 100%;
				max-width: 60%;
				// max-width: 100%;
				.video-form {
					height:2.5rem;
					margin-bottom: 0rem;
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
					// border-bottom-right-radius: 0;
					.input-wrapper {
						width: 100%;
						.input{
							padding: 0.25rem;
						}
						.submit-button{
							// padding: 0.2rem;
						}
					}
				}
			}
			.youtube-embed {
				flex-grow: 1;
				// width: 40%;
				padding-top: 0;
				margin-bottom: 0rem;
				// min-height: 100%;
			}
		}
	}
}