@use '../../../master' as m; 
@import './music/music.scss'; 
@import './video/video.scss'; 

$text-primary-color: #FFFFFF;
$text-secondary-color: #D4D3D3;
$text-info-color: #7D7C7A;

$toggle-heading-color: #DCDDE3;
// $toggle-bg-color: #8C93A8;
// $toggle-bg-color: #525357;
$toggle-bg-color: #4c4c4c33;

// $toggle-bg-color: #242528;
$toggle-active-color: m.$green;
$toggle-hover-color: #868790;
// $toggle-icon-color:#494A4E;
// $toggle-icon-color:#474D50;
$toggle-icon-color:#7D7C7A;

// $toggle-dot-color: m.$green;
$toggle-dot-color: m.$green;
// $toggle-dot-color: #3E5BB8;
// $toggle-dot-color: #0075ff;
// $toggle-dot-color: #3B82F6;
// $toggle-dot-color: #4338CA;
// $toggle-dot-color: #6B944C;
// $toggle-dot-color: #F47B56; 

.media {
    // font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;


	.media-toggles {
		max-height:fit-content;
		display: flex;
   		flex-direction: row;
		background-color: $toggle-bg-color !important;
		border: m.$border;
		// padding: 1.25rem/* 20px */;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		cursor: pointer;

		&:first-child{
        	// background-color: $toggle-active-color !important;
			border-right: m.$border;
		}
		.toggle {
			display: flex;
   			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			text-align: center;
			width: 50%;
			// height: 50%;
			min-height: 100%;
			padding: m.$spacing-sm/* 20px */;
			&.active { 
				// font-weight: 700; 
				background-color: $toggle-active-color !important;
			}
			&:hover {
				background-color: $toggle-hover-color !important;
				color: rgba(243, 244, 246, 1);
			}
			// span {
			// 	display: none;
			// }
			img {
				max-height: 1.3rem;
			}
            // .toggle-arrow {
            //     --button-size: 1.5rem;
            //     width: var(--button-size);
            //     height: var(--button-size);
            //     background-color: $toggle-icon-color;
            //     border-radius: 50%;
            //     padding: 5px;
            //     margin: 2px;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     // transition: filter 300ms;
            //     // transform: rotate( 270deg);
            //     transform: rotate( 180deg);
            //     transition: all 0.35s;
            //     &.rotate-down {
            //         // transition-duration: 300ms;
            //         // transform: rotate( 360deg);
            //         transform: rotate( 0deg);
            //         // transform: translateX(0) translateY(0) rotate( 180deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
            //     }
             
			// }
		}
			
    }
	

	// shared component code
	.media-section {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
		flex-grow:1;
		padding: m.$spacing-sm;
		// opacity: 0;
		transition: all .35s ease-in-out;
		// min-height: 0;
		&.open {
			opacity: 1;
			max-height: 100vh;
		}
	}

	@import './options.scss'; 

}

// small breakpoint
@media (min-width: 640px) {
	.media{
		.media-toggles{
			.toggle{
				// span {
				// 	display: inline;
				// }
				img {
					// max-height: 3rem;
				}
			}
		}
	}
}




// .ribbon {
//     display: block;
//     position:fixed;
//     width: calc(100% + 20px);
//     height: 50px;
//     position: relative;
//     float: left;
//     line-height: 50px;
//     text-align: center;
//     margin-left: -10px;
//     margin-right: -10px;
//     margin-bottom: 30px;

//     background: #EDBA19;
//     position: relative;
//     top: 20px;
//   }
//   .ribbon:before, .ribbon:after {
//     content: "";
//     position: absolute;
//   }
//   .ribbon:before {
//     height: 0;
//     width: 0;
//     bottom: -10px;
//     left: 0;
//     border-top: 10px solid #cd8d11;
//     border-left: 10px solid transparent;
//   }
//   .ribbon:after {
//     height: 0;
//     width: 0;
//     right: 0;
//     bottom: -10px;
//     border-top: 10px solid #cd8d11;
//     border-right: 10px solid transparent;
//   }