@import './music/music.scss'; 
@import './video/video.scss'; 

$text-primary-color: #FFFFFF;
$text-secondary-color: #D4D3D3;
$text-info-color: #7D7C7A;

$dropdown-heading-color: #DCDDE3;
// $dropdown-bg-color: #8C93A8;
$dropdown-bg-color: #525357;

// $dropdown-bg-color: #242528;
$dropdown-hover-color: #868790;
// $dropdown-icon-color:#494A4E;
// $dropdown-icon-color:#474D50;
$dropdown-icon-color:#7D7C7A;



.media {
    // font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    section{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .media-dropdown {
            background-color: $dropdown-bg-color !important;
            border-bottom-width: 1px;
            padding: 1.25rem/* 20px */;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            h2{
                font-size: 1rem/* 16px */;
                line-height: 1.5rem/* 24px */;
            }
            &.active { 
                font-weight: 700; 
                background-color: $dropdown-hover-color !important;
            }
            &:hover {
                background-color: $dropdown-hover-color !important;
                color: rgba(243, 244, 246, 1);
            }
            .dropdown-arrow {
                --button-size: 1.5rem;
                width: var(--button-size);
                height: var(--button-size);
                background-color: $dropdown-icon-color;
                border-radius: 50%;
                padding: 5px;
                margin: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                // transition: filter 300ms;
                // transform: rotate( 270deg);
                transform: rotate( 180deg);
                transition: all 0.35s;
                &.rotate-down {
                    // transition-duration: 300ms;
                    // transform: rotate( 360deg);
                    transform: rotate( 0deg);
                    // transform: translateX(0) translateY(0) rotate( 180deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
                }
            }
        }
        &.music-section{ flex-shrink: 1; }
        &.video-section{ flex-grow: 1; }
        .section-content {
            opacity: 0;
            max-height: 0;
            padding: 0.5rem;
            min-height: 0;
            transition: all .35s ease-in-out;
            &.open {
                opacity: 1;
                max-height: 100vh;
            }
        }
    }
    .options{
		width: 100%;
		display: flex;
		color:#fff;
		justify-content: flex-end;
		// padding-top: 0.5rem;
		margin-bottom: 0.5rem/* 8px */;
		.option-item:nth-of-type(1){ 
			margin-right: 0.75rem/* 12px */;
		}
		.option-item {
			// width: 50%;
			display: flex;
			flex-grow: 1;
			align-items: center;
			.toggle-wrapper {
				min-width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				.toggle-text {
					.hide-mobile{ display:none ;}
					// max-width: fit-content;
					margin-right: 0.75rem/* 12px */;
					font-weight: 500;
				}
				.toggle {
					position: relative;
					input {
						position: absolute;
						width: 1px;
						height: 1px;
						padding: 0;
						margin: -1px;
						overflow: hidden;
						clip: rect(0, 0, 0, 0);
						white-space: nowrap;
						border-width: 0;
						&:checked ~ .dot {
							transform: translateX(100%);
							background-color: $toggle-dot-color;
						}
		
					}
					.dot{
						// @apply absolute w-5 h-5 bg-white rounded-full shadow -left-1 -top-1 transition;
						position: absolute;
						width: 1.25rem/* 20px */;
						height: 1.25rem/* 20px */;
						background-color: #fff;
						border-radius: 9999px;
						left: -0.25rem/* -4px */;
						top: -0.4rem/* -4px */;
						transition: all .3s ease-in-out, ;
						--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
						box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
					}
					.line{
						// width: 2.25rem/* 36px */;
						width: 2.15rem/* 36px */;
						height: 0.45rem/* 12px */;
						// background-color: #bbb;
						background-color: #737373;
						--tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
						// border-radius: 9999px;
						// border-radius: 2px;
						border-radius: 8px;
						// box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
						box-shadow: 0 0 5px rgb(0 0 0 / 20%);
						&.checked{
							// background-color: $toggle-track-active-color;
						}
					}
				}
			}
		}
	}
}

// .ribbon {
//     display: block;
//     position:fixed;
//     width: calc(100% + 20px);
//     height: 50px;
//     position: relative;
//     float: left;
//     line-height: 50px;
//     text-align: center;
//     margin-left: -10px;
//     margin-right: -10px;
//     margin-bottom: 30px;

//     background: #EDBA19;
//     position: relative;
//     top: 20px;
//   }
//   .ribbon:before, .ribbon:after {
//     content: "";
//     position: absolute;
//   }
//   .ribbon:before {
//     height: 0;
//     width: 0;
//     bottom: -10px;
//     left: 0;
//     border-top: 10px solid #cd8d11;
//     border-left: 10px solid transparent;
//   }
//   .ribbon:after {
//     height: 0;
//     width: 0;
//     right: 0;
//     bottom: -10px;
//     border-top: 10px solid #cd8d11;
//     border-right: 10px solid transparent;
//   }