@import './music/music.scss'; 
@import './video/video.scss'; 

.media {
    font-family: Arial, Helvetica, sans-serif;
}
.media-dropdown{
    background-color: #8C93A8 !important;
}
.media-area {
    padding: 1.25rem
}

