@use '../../../../master' as m; 

$highlight-color: #b8a776;

$add-btn-color: m.$green;
// $add-btn-color: m.$action-blue;

.media-section.music {
	// root styles in media.scss

    input[type=file], /* FF, IE7+, chrome (except button) */
    input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
        cursor: pointer; 
    }

    .music-wrapper{
        min-height: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
        &.show-full{
            form{
                width: 100%;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width:100%;
        max-width:100%;
        min-height: 9.3rem/* 256px */;
        // height: -webkit-fill-available;
        height: 40%;

        input.file-input{
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            cursor: pointer;
            z-index:9;
            opacity: 0;
        }

        .song-player-wrapper{
            border-radius: m.$border-radius;
            border: m.$border;
            overflow:hidden;
            position: relative; 
            // width: 100%;
            height: 100%;
            .song-preview-wrapper{
                    height: 100%;
                    width: 100%;
            }
            
            .song-container {
                height: 100%;
                width: 100%;
                background-color: #000;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                // justify-content: center;
                display: flex;
                flex-direction: column;
                // background: url(./assets/sidePanel/controls/add_music.svg) no-repeat center center fixed; 
                .song-title{
                    // max-width: fit-content;
                    max-width: -webkit-fill-available;
                    color: #fff;
                    background-color: #000000bf;
                    // font-variant: all-petite-caps;
                    // font-style: italic;
                    align-self: center;
                    padding:.5rem .25rem .5rem .25rem;
                    // font-size: 1.125rem/* 18px */;
                    line-height: 1.3rem;
                    // max-width: 95%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
                    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
                    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
                }
                .trash-icon {
                    cursor: pointer;
                    border-radius: m.$border-radius;
                    border-top-right-radius:  0px;
					border-bottom-left-radius:  0px;
                    // filter: brightness(0) invert(1);
                    // background-color: rgb(124, 124, 124);
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    padding: m.$spacing-xs;
                    background-color: m.$cancel-bg-clr;
                    img {
                        height: 1.5rem;
                    }
                    &:hover{
                        background-color: m.$cancel-hover-bg-clr;
                    }
                }
            }
            .song-input {
                background-color: m.$dark;
                display:flex;
                flex-direction: column;
                height: 100%;
                width:100%;
                // height:150px;
                // color: #6D6D6F;
                justify-content: center; 
                align-items: center;
                text-align: center;
                border-color: m.$blue-gray;
                border-style:dashed; 
                border-width: .2rem;
        
                .input-icon{
                    height: 55%;
                    margin-left: auto;
                    margin-right: auto;
                }
                .input-text{
                    max-width: 90%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    // flex-grow: 1;
                    padding-bottom: .5rem;
                    padding-top: .5rem;
                    .text {
                        &.mobile {
                            display: inline;
                        }
                        display: none;
                    }
                    .btn{
                        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
                        // background-color: #EFEFEF;
                        // background-color: m.$darker;
                        background-color: #666666d9;
                        
                        // background-color: #4c4c4c33; 
                        border: m.$border;
                        // color: #000;
                        // font-weight: 500;
                        // font-size: 1.125rem;
                        border-radius: m.$border-radius;
                    }
                }
                
            }
            audio { 
                position: absolute;
                bottom: -1px;
                height: 1.8rem;
                width: 100%;
                align-self: flex-end;
                flex-grow:1;
                // box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
                // transform: scale(.85);
                // width: 200px;
                // height: 25px;
                &::-webkit-media-controls-enclosure {
                    background-color: #ffffffd9;
                    // filter:drop-shadow()
                    border-top: m.$border;
                    filter: sepia(0%) saturate(0%) grayscale(1) contrast(100%) invert(100%);
                    z-index: 1;
                    // font-weight: 700 !important;
                    border-radius: 0px;
                    // background-color: rgb(53,53,53,.5);
                    // background-color: rgb(241,243,244,.9);
                    // background-color: #c6c6ec;
                }
                ::-webkit-media-controls-current-time-display{
                    // font-weight: 700 !important;
                }

                // https://chromium.googlesource.com/chromium/blink/+/72fef91ac1ef679207f51def8133b336a6f6588f/Source/core/css/mediaControls.css?autodive=0%2F%2F%2F
                &::-webkit-media-controls-panel { z-index: 99;}
                // &::-webkit-media-controls-mute-button {}
                // &::-webkit-media-controls-play-button {}
                // &::-webkit-media-controls-timeline-container {}
                &::-webkit-media-controls-current-time-display {
                    filter: drop-shadow(3px 1px 3px white);
                    font-size: 1rem;
                    font-family: m.$font-family;
                    // font-weight: 700 !important;
                }
                &::-webkit-media-controls-time-remaining-display {
                    filter: drop-shadow(3px 1px 3px white);
                    font-size: 1rem;
                    font-family: m.$font-family;
                    // font-weight: 700 !important;
                }
                &::-webkit-media-controls-timeline {}
                // &::-webkit-media-controls-volume-control-container {}
                // &::-webkit-media-controls-volume-control-container.closed {}
                // &::-webkit-media-controls-volume-slider-container {}
                // &::-webkit-media-controls-volume-slider {}
                // &::-webkit-media-controls-seek-back-button {}
                // &::-webkit-media-controls-seek-forward-button {}
                // &::-webkit-media-controls-fullscreen-button {}
                // &::-webkit-media-controls-rewind-button {}
                // &::-webkit-media-controls-return-to-realtime-button {}
                // &::-webkit-media-controls-toggle-closed-captions-button {}
                &::-internal-media-controls-overflow-menu-list{
                    filter: sepia(0%) saturate(0%) grayscale(1) contrast(100%) invert(100%);
                }
            }
        }

        .add-btn {
			border-top-left-radius:  0px;
			border-top-left-radius:  0px;
			border-radius:  m.$border-radius;
            z-index: 99;
            margin-top: 0.75rem;
            margin-bottom: 2px;;
            // width: 13%;
            width: auto;
            // min-width: min-content;
            // min-width: -webkit-fill-available;
            // border: 1px solid #4b5563;
            height: 1.75rem/* 28px */;
            // height: 2.5rem;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            &.preview{
                margin-top: 0;
                .add-icon{ 
                    display:none;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: m.$border-radius;
                }
                .add-text{
                    width: 100% !important;
                    margin-left: 0rem;
                    padding-right: 20px;
                    padding-left: 20px;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 0.1875rem;
                    border-bottom-right-radius: 0.1875rem;
                }
            }
            .add-icon{ 
                border-top-left-radius: 0.185rem;
                border-top-right-radius: 0.1875rem;
                border-bottom-right-radius: 0px;
    			// border-radius:  m.$border-radius;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                // background-color: #82B64A;
                background-color: $add-btn-color;

                height: 100%;
                // width: 2.5rem;
                // width: 3.8rem;
                width: 16.666667%;
                // padding-left: 20px;
                border-bottom: none;
                // margin-top: 0.5rem/* 20px */;
                img  {
                    height:72%
                }
            }
            .add-text{
                border-top-right-radius: 0.1875rem;
                border-bottom-right-radius: 0px;
                letter-spacing: 0.05em;
                // margin-left:40px;
                // margin-left:3.8rem;
                margin-left: 15.666667%;
                max-width: fit-content;
                width: 0;
                // font-weight: 600;
                position: relative;
                display: flex;
                // background-color: #82B64A;
                background-color: $add-btn-color;
                color: #fff;
                white-space: nowrap;
                // z-index: 1;
                align-items: center;
                height: 100%;
                overflow: hidden;
                transition: 0.3s all ease;
            }
            &:hover {
                .add-icon{
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }
            &:hover > .add-text{
                // background-color: #82B64A;
                width: 100%;
                padding-right: 20px;
            }
        }
        .invalid-message{
            // @apply ml-1 mt-0 mb-2 text-xs text-red-800;
            position: absolute;
            right: 0;
            bottom: -1.5rem;
            margin:0px;
            font-size: 0.84rem/* 12px */;
            line-height: 1rem/* 16px */;
            color: #ff8a8a;
        }
    }
    
    .music-list{
        background-color: m.$dark;
        max-width: 100%;
        width: 100%;
        flex-grow:1;
        // min-height:30%;
        overflow: auto;
        // font-size: m.$font-size-sm;
        // padding-top: 0.5rem;
        border: m.$border;
        border-radius: m.$border-radius;


        // >:not([hidden])~:not([hidden]) {
        //     border-color: #989695;
        //     border-top-width: calc(1px * calc(1 - 0));
        //     border-bottom-width: calc(1px * 0);
        // }

        .music-row {
            background-color: m.$darker;
            margin-top: .185rem;
            margin-bottom: .185rem;
            overflow: hidden;
			min-height: 2rem/* 56px */;
			height: 2.5rem/* 56px */;
            // height: 1.75rem/* 28px */;
            align-items: center;
            color: #f3f4f6;
            display: flex;
            cursor: pointer;
            // font-size: 1.125rem/* 18px */;
            // line-height: 1.75rem/* 28px */;

            border-top: m.$border;
            border-bottom: m.$border;
            &:first-child{
                margin-top: .0px;
                border-top: 0px;
            }
            // &:last-child{
            //     margin-bottom: .0px;
			//     border-bottom: 0px;
            // }


            &.selected{
                border: .1px solid $highlight-color !important;
                border-left: 0px;
                background-color: #4c4c4c73  !important;
                // background-color: m.$green  !important;
                // background-color: m.$spec-blue-alt  !important;
                cursor: default !important;
                // color: #3e424a !important;
                color: m.$light-font !important;
            }
            &:hover{
                color: m.$darker;
                background-color: rgba(156,163,175,1);
            }
            .song-img {
				min-width: 16.666667%;
                width: 16.666667%;
				// object-fit: scale-down;;
                justify-content: center;
                border-right: 0.0425rem solid rgb(249 249 249 / 40%);
                // background: m.$darker;
                background: #000;
                object-fit: cover;
                height: 100%;
                // line-height: 2.07em;
                // color: #b3b3b3;
            }    
            .song-info {
                // padding-left: 0.75rem;
                // padding-right: 0.75rem;
				// padding-bottom: 0.25rem/* 4px */;
                justify-content: space-evenly;
                // align-items: center;
                text-align: center;
				flex-grow: 1;
                display: flex;
				overflow: hidden;
                &.active {
                }
                // .song-artist{ width: 20%;  }
                .song-title{ 
                    width: 80%;  
                    padding-left: 0.75rem/* 12px */;
					padding-right: 0.25rem/* 4px */;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
                    // text-shadow: 2px 2px 6px #000;
                    // font-family: Helvetica, Arial, sans-serif;
                    // font-size: 40px;
                }
                .song-time{ 
                    position: relative;
                    width: 20%;  
                }
                // flex: 0 0 50%;
            }
        }
        
    }
    // https://codepen.io/aurer/pen/jEGbA
    .music-loader{
        padding:.5rem;
        position:absolute;
        top: 50%; /* Position Y halfway in */
        left: 50%; /* Position X halfway in */
        transform: translate(-50%,-50%); /* Move it halfway back(x,y) */
        // width: 20%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        svg path,
        svg rect{
            fill: #FF6700;
        }
    }
}

@media (min-width: m.$medium) {
    .media-section form .song-player-wrapper .song-input .input-text .text{
        &.mobile  {
            display: none;
        }
        display: inline;
    }
}

@media (max-height: m.$landscape) {

    .media-section.music {
        .music-wrapper {
            justify-content: center;
            flex-direction: row;
            align-items: center;
            .music-list {
                width: 40%;
                height:100%;
                .music-row {
                    .song-info {
                        .song-time{
                            display:none;
                        }
                        .song-title{
                            width: 100%;
                            padding-left: .25rem;
                        }
                    }
                    .song-img {
                        min-width: 25% !important;
                    }
                }
            }
            form {
                width: 60%;
                height:100%;
                // &.reverse-landscape{
                //     flex-direction: column-reverse;
                // }
                .add-btn{
                    &:not(.preview){
                        justify-content: end;
                    }
                    margin-top: 0px;
                    .add-icon {
                        position: relative;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 0.1875rem;
                        // border-bottom-right-radius: 0.1875rem;
                    }
                    .add-text {
                        // margin-left: 0px;
                        width: 100%;
                        padding-right: 20px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0.1875rem;
                    }
                }
                .song-player-wrapper audio {
                    &::-webkit-media-controls-time-remaining-display{
                        display: none;
                    }
                    &::-webkit-media-controls-current-time-display{
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: m.$small) {
	.media-section.music {
        form .add-btn {
            .add-icon {
                position: relative;
                // border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 0;
                // border-bottom-right-radius: 0.1875rem;
            }
            .add-text{
                margin-left: -1px;
                width: 100% !important;
                padding-right: 20px;
            }
        }
    }
    // .media-section.music form .add-btn .add-icon{}
}