.create-wrapper {
    @import './custom.scss'; 

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: all 0.35s;

    &.hide-create {
        opacity: 0;
        pointer-events: none;
    }

    .modal-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(17, 24, 39);
        opacity: 0.5;
    }

    .selected{
        box-shadow:#cddc39 0px 0px 5px 3px !important;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-align: center;
        text-indent: 1px;
        text-overflow: '';
        &::-ms-expand {
            display: none;
        }
        option{
            padding-left: 5px;
            padding-right: 5px;
            background-color: #4d310a;
        }
        &.increment{
            text-align: end;
        }
    }


    .create {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: all 0.35s;
        font-size: 1.2rem !important;
        color:#fff;


        .create-body {
            box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 10px; // shadow-lg
            background-color: #fff;
            width: 91.666667%;
            max-width: 28rem;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0.25rem;
            z-index: 50;
            .choose-color {
                cursor: pointer;
                max-height: 14vh;
                display: flex; 
                justify-content: center; 
                align-items: center;
                background-color: #4caf50;
                .piece-color{
                    z-index:20;
                    padding: 10px;
                    max-height: 120px;
                    margin: 10px;
                    &.selected{
                        background-color: #4caf50;
                    }
                    img{ 
                        max-height: 90px;
                    }
                }
            }
            .create-content {
                text-align: left;
                padding-top: 1rem/* 16px */;
                padding-bottom: 1rem/* 16px */;
                padding-left: 1.5rem/* 24px */;
                padding-right: 1.5rem/* 24px */;
                overflow: auto;

                max-height: 70vh;
                // scroll bar styling courtesy of  https://jsfiddle.net/vsj6qb8c/6/
                &::-webkit-scrollbar {
                    width: 20px;
                    border-width: 5px;
                }
                &::-webkit-scrollbar-track {
                    margin-top:0rem;
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    --container-background-color: rgba(55,65,81,1);
                    background-color: #ebedf5;
                    // border-radius: 8px;
                    border-color: var(--container-background-color);
                    border-style: solid;
                    border-width: 1px 4px 1px 7px;
                }
                &::-webkit-scrollbar-track-piece {
                    --container-background-color: rgba(55,65,81,1);
                    background-color: #8f8f8f;
                    border-color: var(--container-background-color);
                    border-width: 2px 9px 2px 9px;
                    border-style: solid;
                }

                .preset-types {
                    justify-content: space-between;
                    align-items: center;
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    gap: 1.25rem/* 20px */;
                    width: 100%;
                    .type {
                        display: flex;
                        cursor: pointer;
                        background-color: rgba(167, 243, 208);
                        padding-top: 0.5rem/* 8px */;
                        padding-bottom: 0.5rem/* 8px */;
                        border-radius: 0.375rem/* 6px */;
                        height: 5.1rem;
                        .time {
                            width: 66.666667%;
                            color: rgba(75, 85, 99);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            .name{
                                padding-left: 1rem/* 16px */;
                                padding-right: 1rem/* 16px */;
                                white-space: nowrap;
                            }
                            .value {

                                padding-left: 2rem/* 32px */;
                                padding-right: 2rem/* 32px */;
                                padding-top: 0.5rem/* 8px */;
                                padding-bottom: 0.5rem/* 8px */;
                                font-size: 1rem/* 16px */;
                                line-height: 1.5rem/* 24px */;
                            }
                        }
                        img {
                            width: 33.333333%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }

            .modal-footer {
                margin-top: 0.75rem;
                background-color: rgba(249, 250, 251);
                padding-bottom: 0.75rem;
                padding-left: 1.5rem/* 24px */;
                padding-right: 1.5rem/* 24px */;
                display: flex;
                flex-direction: row-reverse;

                button{
                    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 6px; // shadow-sm
                    padding-left: 1rem/* 16px */;
                    padding-right: 1rem/* 16px */;
                    padding-top: 0.5rem/* 8px */;
                    padding-bottom: 0.5rem/* 8px */;
                    width: 100%;
                    display: inline-flex;
                    justify-content: center;
                    border-radius: 0.125rem;
                    border-width: 1px;
                    &:focus {
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                    }
                }

                .create{
                    border-color: transparent;
                    color: #fff;
                    background-color: rgba(99, 102, 241);
                    &:hover{
                        background-color: rgba(129, 140, 248);
                    }
                }
                .cancel {
                    border-color: rgba(209, 213, 219);
                    background-color: rgba(249, 250, 251);
                    color: rgba(55, 65, 81);
                    &:hover{
                        background-color: #fff;
                    }
                }
            }
        }

    }
}

