@use '../../master' as m; 
.create-wrapper {
    font-size: m.$font-size;

    .temp-disabled{
          filter: grayscale(100%);
        // background-color: rgba(200,100,0,.5);
        pointer-events: none;
        color: m.$light-gray-blue !important;
        ::placeholder{
            color: #c9c9c9
        }
    }
    @import './custom.scss'; 

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: all 0.35s;

    &.hide-create {
        opacity: 0;
        pointer-events: none;
    }

    .modal-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #2f2f2f;
        opacity: 0.5;
    }

    .selected{
        box-shadow:#b8a776 0px 0px 3px 3px !important;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-align: center;
        text-indent: 1px;
        text-overflow: '';
        &::-ms-expand {
            display: none;
        }
        option{
            padding-left: 5px;
            padding-right: 5px;
            background-color: #4d310a;
        }
        &.increment{
            text-align: end;
        }
    }


    .create {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: all 0.35s;
        color:#fff;

        .create-body {
            // background-color: rgb(28,28,33);
            background-color: m.$create-modal-bg-clr;
            width: 91.666667%;
            max-width: 35rem;
            margin-left: auto;
            margin-right: auto;
            box-shadow: m.$shadow-lg; // shadow-lg
            z-index: 50;
            .selected {
                &.type {
                    background-color: m.$type-selected !important;
                }
            }
            .choose-color {
                border-top-left-radius: m.$border-radius;
                border-top-right-radius: m.$border-radius;
                cursor: pointer;
                min-height: 12vh;
                max-height: 14vh;
                display: flex; 
                justify-content: center; 
                align-items: center;
                // background-color: #4caf50;
                background-color: m.$type-bg-clr;
                .piece-color{
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                    border-radius: m.$border-radius;
                    z-index:20;
                    padding: .3rem;
                    min-height: 100%;
                    max-height: 18vh;
                    .pieces {
                        display: block;
                    }
                    // &.selected{
                    //     background-color: m.$green;
                    // }
                    img{ 
                        max-height: 4rem;
                    }
                }
            }
            .create-content {
                text-align: left;
                padding-top: 1.75rem/* 16px */;
                padding-bottom: 1.5rem/* 16px */;
                padding-left: 1.5rem/* 24px */;
                padding-right: 1.5rem/* 24px */;
                overflow: auto;
                max-height: 70vh;

                &::-webkit-scrollbar {
                    width: 20px;
                    border-width: 5px;
                }
                &::-webkit-scrollbar-track {
                    margin-top:0rem;
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #999999;
                    // border-radius: 8px;
                    border-color: m.$create-modal-bg-clr;
                    border-style: solid;
                    border-width: 1px .2rem 1px .2rem;
                }
                &::-webkit-scrollbar-track-piece {
                    background-color: m.$dark;
                    // border-color: m.$dark;
                    // border-width: 0px .3rem 0px .3rem;
                    // border-style: solid;
                    // color: #646464
                }

                .preset-types {
                    justify-content: space-between;
                    align-items: center;
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    gap: 1.25rem/* 20px */;
                    width: 100%;
                    .type {
                        justify-content: center;
                        flex-direction: column-reverse;
                        display: flex;
                        cursor: pointer;
                        background-color: m.$spec-blue;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        border-radius: m.$border-radius;

                        // time:not(.temp-disabled .time){
                        //     color: rgba(75, 85, 99);
                        // }
                        // &.selected{
                        //     background-color: m.$green;
                        // }

                        .time {
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align: center;
                            .name{
                                font-size: m.$font-size-lg;
                                display: none;
                                padding-left: 1rem/* 16px */;
                                padding-right: 1rem/* 16px */;
                                white-space: nowrap;
                                // color: #c0cad9;
                                // letter-spacing: 5px;
                            }
                            .value {
                                color: #dad8d8;
                                font-size: m.$font-size-lg;
                                padding-left: m.$spacing-xs;
                                padding-right: .5rem/* 32px */;
                                padding-top: 0.5rem/* 8px */;
                                padding-bottom: 0.5rem/* 8px */;
                                line-height: 1.5rem/* 24px */;
                            }
                        }
                        img {
                            // width: 100%;
                            max-height: 3rem;             
                            align-self: center;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }

            .modal-footer {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row-reverse;
                border-bottom-left-radius: m.$border-radius;
                border-bottom-right-radius: m.$border-radius;
                overflow:hidden;
                font-size: m.$font-size-lg;

                button{
                    // box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 6px; // shadow-sm
                    padding-left: 1rem/* 16px */;
                    padding-right: 1rem/* 16px */;
                    padding-top: 0.5rem/* 8px */;
                    padding-bottom: 0.5rem/* 8px */;
                    width: 100%;
                    display: inline-flex;
                    justify-content: center;
                    height: 9vh;

                    &:focus {
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                    }
                }

                .create{

                    margin-left: 0rem/* 16px */;
                    // border-color: #2C2EAF;
                    // border-left:0;
                    color: #fff;
                    background-color: #2C2EAF;
                    letter-spacing: 5px;
                    &.processing{
                        -webkit-text-security: disc;
                    }
                    &:hover{
                        background-color: #4446e6;
                    }
                }
                .cancel {
                    margin-right: 0rem/* 16px */;
                    background: none;
                    letter-spacing: 5px;
                    background-color: m.$cancel-bg-clr;
                    &:hover{
                        background-color: m.$cancel-bg-clr;
                        // background-color: rgb(114, 114, 114);
                    }
                }
            }
        }

    }
}

//   'sm': '640px',
@media (min-width: 640px) {
    .preset-types{
        .type {
            flex-direction: row !important;
            .time {
                width: 66.666667% !important;
                .name {
                    display:block !important;
                }
            }
            
            img {
                width: 33.333333% !important;
                max-height: 4rem !important;
            }
        }
    }

    .piece-color {
        padding: .9rem !important;
        .pieces {
            padding: .2rem !important;
        }
        img {
            max-height: 5rem !important;
        }
    }
}

 @media screen and (orientation:landscape) {


 }

 // when in landscape view
@media (max-height: 568px) {
    .create {
        .create-body{
            max-height: 100vh;
            .choose-color{
                min-height: 3.5rem !important;
                max-height: 4rem !important;
                .piece-color{
                    max-height: 5rem !important;
                }
            }
            .modal-footer button{
                min-height:3.5rem;
            }
            .piece-color img {
                max-height: 3.5rem !important;
            }
        }
    }
}