@use '../../master' as m; 
.custom  {
    // m.$type-bg-clr: #1F7A50;
    // m.$type-bg-clr: #1c3e2f;
filter: drop-shadow(0
px
 2
px
 20
px
 #000);
    // background-color: m.$type-bg-clr;
    background-color: m.$mid-green;
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
    border-radius: 0.125rem;
    margin-top: 1.25rem;
    .name {
        font-size: m.$font-size-lg;
        padding-left: 1rem/* 16px */;
        padding-right: 1rem/* 16px */;
        padding-top: .5rem/* 16px */;
        padding-bottom: .5rem/* 16px */;
        white-space: nowrap;
    }
    .open-controls {
        cursor: pointer;
        display:flex;
        padding-left: 0.75rem/* 12px */;
        padding-right: 0.75rem/* 12px */;
        justify-content: center;
        align-items: center;
        img {
            filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.438));
            
            height: 2.8rem;
            flex-shrink: 1;
        }
    }
    .controls {
        flex-direction: column;
        display:flex;
        padding-left: 0.75rem/* 12px */;
        padding-right: 0.75rem/* 12px */;

        .control {
            display: inline-flex;
            // position: relative;
            align-items: center;
            // justify-content: center;
            // text-align: center;
            overflow: hidden;
            word-break: break-word;

            height: 3rem;
            min-height: 3rem;
            width: 100%;
            max-width: 100%;
            margin-bottom: 0.6rem;
            // padding-left: var(--buttonPaddings,.5rem 2rem);
            // padding-right: var(--buttonPaddings,.5rem 2rem);
            // box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 8px; // shadow-md
            background-color: m.$control-bg-clr;
            // color: var(--basicColor,#666463);
            color: #adb1b7;
            border: 0;
            border-radius: .125rem !important;

            .identity {
                font-size: m.$font-size-lg !important;
                width: 25%;
                color:#f9f9f9;
                background-color: m.$identity-bg-clr;
                // background-color: #0b603b;
                min-height: 100%;
                // border-right-width: .2rem;
                // border-color: rgba(21, 122, 55, 0.4);
                display: flex;
                justify-content: center;
                pointer-events: none;  
                // light grey border
                --borderHeight: .1rem;
                --borderColor: hsla(0,0%,100%,0.05);
                --secondaryBorderColor: transparent; 
                box-shadow: 0 var(--borderHeight) 0 0 var(--borderColor),0 .7rem .95rem .05rem var(--secondaryBorderColor);
                border: .1rem solid var(--borderColor);
                // border-right: 0;   
                
                img {
                    width: 2rem;
                    // width: 2.3rem;
                }
            }
            .value {
                color: #adb1b7;
            }
        }
        .ctrl-secondary {
            // font-size: 1.4rem !important;
            // background-color: $secondary-ctrl-bg-color;
            // background-color: m.$control-bg-clr;
            width: 30%;
            min-height: 100%;
            display: flex;
            align-items: center;
            text-align: end;
            justify-content: end;
            position: absolute;
            right: 0;
            // border-right: 0;
            border-top-right-radius: .125rem;
            border-bottom-right-radius: .125rem;
            // border-left-width: .2rem;
            // border-color: rgba(54, 54, 54, 0.4);
        }

        .time-wrapper {
            position: relative;
            height: 3rem;
            min-height: 3rem;
            margin-bottom: 0.6rem;

            .temp-disabled{
                background-color: #333333;
            }
            .time {

                // &.temp-disabled{
                    // m.$type-bg-clr: #1c3e2f;
                    // background-color: #333333;
                    // .clock {
                    //     img {
                    //         opacity: .7;
                    //     }
                    //     background-color: m.$type-bg-clr;
                    // }
                    // .minutes-input {
                    //     background-color: m.$type-bg-clr;
                    // }
                    // .ctrl-secondary {
                    //     background-color: m.$type-bg-clr;
                    // }
                // }
                .minutes-input {
                    min-height: 100%;
                    width:50%;
                    // flex-grow: 1;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    text-align: right;
                    cursor: text;

                    &.temp-disabled{
                        background-color: #333333;
                    }

                    input{
                        width:2.4rem;
                        text-align: end;
                        background-color: transparent;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                        }

                        /* Firefox */
                        &[type=number] {
                        -moz-appearance: textfield;
                        }
                        &:focus { 
                            outline: none; 
                        }
                    }
                    .minutes-suffix {
                        display: none;
                        padding-left: 1rem;
                        text-align: start;
                        pointer-events: none;
                    }
                }
                .increment-wrapper {
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                    // padding-left: 1rem;
                    // padding-right: 1rem;
                    background-color: transparent;

                    .inc-p {
                        display:none;
                    }

                    &.disabled {
                        width:100%;
                    }
                    .inc-select{
                        // cursor:pointer;
                        display: inline-flex;
                        justify-content: center;
                        text-align: center;
                        // box-shadow: rgba(182, 180, 180, 0.15) 0px 3px 8px;
                        // focus none
                        div {
                            // width:100%;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    .inc-menu {
                        overflow:hidden;
                        border-top-width: 2px;
                        border-color: rgb(173, 177, 183,.3);
                        border-bottom-left-radius: .125rem;
                        border-bottom-right-radius: .125rem;
                        cursor:pointer;
                        width: 100%;
                        transform-origin: top right;
                        position: absolute;
                        right: 0;
                        // background-color: #4d310a;
                        z-index:50;
                        .increment {
                            // background-color: #4d310a;
                            display: block;
                            // padding-top: 0.25rem/* 4px */;
                            padding-bottom: 0.25rem/* 4px */;
                            &:hover{
                                // background-color: #3a2200;
                            }
                        }
                    }
                }
            }
        }

        .opp-name{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
        }
        .opponent-select {
            &.opp-selecting {
                padding-bottom: .2rem;
                padding-top: .2rem;
            }
            .opp-menu-toggle {
                cursor: pointer;
                // justify-content: center;
                justify-content: space-between;
                display: flex;
                margin-left: auto;
                margin-right: auto;

                .vs {
                    text-align: center;
                    // padding-left: 0.5rem;
                    padding-top: .2rem;
                }
                .opp-img {
                    display: flex;
                    justify-content: end;
                    width: 23.5%;;
                    img{
                        width: 2rem;
                    }
                }
                .opp-name {
                    padding-left: .6rem;
                    flex-grow:1;
                    width: 40%;
                    text-align: left;
                }
            }
            .opp-menu {
                width: 100%;

                .opp-option-wrapper {
                    position: relative;
                    margin-bottom: 0.75rem;
                    justify-content: flex-start;

                    &.temp-disabled{
                        $disabled-bg-color: #333333;
                        background-color: $disabled-bg-color;
                        .img {
                            background-color: $disabled-bg-color;
                        }
                        .opp-name {
                            background-color: $disabled-bg-color;
                        }
                        .ctrl-secondary {
                            // background-color: #1F7A50;
                        }
                    }

                    &:hover {
                        // box-shadow:#cddc39 0px 0px 5px 3px !important;
                    }
                    .opp-option {
                        display: flex;
                        // flex-grow:1;
                        justify-content: start;
                        cursor: pointer;
                        align-items: baseline;

                        // padding-left: 1rem;

                        // .vs {
                        //     width:50%;
                        //     font-size: 1.425rem/* 18px */;
                        //     line-height: 1.75rem/* 28px */;
                        //     //text-lg
                        //     text-align: end;
                        //     margin-left: 0.5rem/* 8px */;
                        //     margin-right: 0.5rem/* 8px */;
                        // }
                        justify-content: start;
                        flex-grow: 0;
                        width: 100%;
                        .img {
                            display: flex;
                            justify-content: end;
                            width: 25%;
                            img {
                                max-height:2.4rem;
                            }
                        }
                        .opp-name {
                            flex-grow: 1;
                            align-self: flex-start;
                            padding-left: 0.5rem;
                            text-align: left;
                        }

                    }
                    .computer-skill-menu{
                        display: none;
                        align-items: center;
                        select{
                            background:none;
                        }
                        .difficulty{
                            cursor:pointer;
                            flex-grow: 1;
                            height: 100%;
                            padding-left: 0.5rem/* 8px */;
                            padding-right: 0.5rem/* 8px */;
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: .2rem;
                        border-color: rgba(243,244,246,1 );
                        border-bottom-width: 2px;
                    }
                }
            }
            .selected-opponent {
                min-height: 50px;
                background-color: var(m.$control-bg-clr,#dbd9d7);
                display: inline-flex;
                // color: var(--basicColor,#666463);
            }
        }

        .pin-protect {   
            display: flex;
            // margin-top: 0.5rem;
            width: 100%;
            text-align: center;
            position: relative;


            .private {
                width:50%;
                // flex-grow:1;
                cursor: text;
                display: none;
                &.mobile {
                    width: 75%;
                    display: inline-block;
                }
            }

            .pin-wrapper {
                align-items: center;
                // width: 27.5%;
                input{
                    text-align:center;
                    width: 100%;
                    height: 100%;
                    appearance: none;
                    outline: none; 
                    background: none;
                    background-color: transparent;
                    &:focus{
                        outline: none; 
                        
                        appearance: none;
                    }
                }
                &.ctrl-secondary{
                    display:none;
                }
            }

        }
    }


    select:focus { outline: none; }
}

//   'sm': '640px',
@media (min-width: m.$small) {
    .minutes-suffix {
        display: inline-block !important;
    }
    .inc-p {
        display: inline-block !important;
    }
    .computer-skill-menu {
        display: flex !important;
    }
    .private{
        display:inline-block !important;
        &.mobile {
            display:none !important;
        }
    }
    .opp-menu-toggle {
        .opp-img {
            img {
                width: 2.3rem !important;
            }
        }
    }
    .opp-option {
        width: 75% !important;
    }
    .identity {
        width: 20% !important;
    }
    .pin-wrapper {
        &.ctrl-secondary {
            display:flex !important;
        }
    }

}