@use '../../master' as m; 
// green 709B50
// white DAEFC4
$--p-1: #DAEFC4;
$--p-2: m.$green;
$--p-3: #DAEFC4;
$--p-4: m.$green;

$--b-1: m.$green;
$--b-2: #DAEFC4;
$--b-3: m.$green;
$--b-4: #DAEFC4;

$--g-1: #DAEFC4;
$--g-2: m.$green;
$--g-3: #DAEFC4;
$--g-4: m.$green;

$--y-1: m.$green;
$--y-2: #DAEFC4;
$--y-3: m.$green;
$--y-4: #DAEFC4;

$--s-1: #DAEFC4;
$--s-2: m.$green;
$--s-3: #DAEFC4;
$--s-4: m.$green;

$colors: (
	$--p-1,
	$--p-2,
	$--p-3,
	$--p-4,
	$--b-1,
	$--b-2,
	$--b-3,
	$--b-4,
	$--g-1,
	$--g-2,
	$--g-3,
	$--g-4,
	$--y-1,
	$--y-2,
	$--y-3,
	$--y-4,
);


.loader {
	// background-color:#302E2B; 
	// background-color: #32291d;
    // background-color: #1f1f1f;
    background-color: m.$lobby-bg-clr; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, m.$dark, #343434, m.$dark); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, m.$dark, #343434, m.$dark);

    color: #cdcdcd;  
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	// font-weight: 300;
	font-size: 24px;
    opacity: 1;
    transition: opacity 2.5s ease-in;
	z-index:8;

	&.hide {
		opacity: 0;
		pointer-events: none;
	}

	.loader-wrapper {
		// position: relative;
		// height: 100%;
		// width: 100%;
		max-height: fit-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// background-color: rgb(49, 40, 28,.6);
		// background-color: #40382cf5;
		// background-color: #1d1711;
		// background-color: #65972bf2;
		// background-color: m.$spec-blue;
		// background-color: #042d38;
		// background-color: m.$dark-brown;
		background-color: #27252285;
		// mix-blend-mode: screen;

		// $dark-test: #1d1711a1;
		// text-shadow: 2px 2px $dark-test;
		text-shadow: m.$shadow-sm;

		border-radius: m.$border-radius;
		padding: 2rem;
		// background: linear-gradient(135deg, #32291d, #64533B);
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		// opacity: .85;
		// bottom: 0%;
		// transform: translate(-50%);
		z-index: 10;
		box-shadow: 0 30px 50px -20px #120b03;
		-webkit-filter: blur(0px);
		-filter: blur(0px);
		-webkit-animation: deblur linear .4s;
		animation: deblur linear .4s;
		h2 {
			flex-grow:1;
			// width: 60%;
			// z-index:9;
			// position: absolute;
			// margin-left: auto;
			// margin-right: auto;
			// left: 0;
			// right: 0;
			// text-align: center;
		}

	}

	.mosaic {
		--cell-size: 12vh;
		--cell-spacing: 1px;
		--border-width: 1px;
		--cells: 4;
		--total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
		opacity:.7;
		z-index:9;
		display: flex;
		flex-wrap: wrap;
		width: var(--total-size);
		min-width: var(--total-size);
		max-width: var(--total-size);
		height: var(--total-size);
		min-height: var(--total-size);
		max-height: var(--total-size);
		// box-shadow: 0 30px 50px -20px #221607;

		> .cell {
			--cell-color: white;
			flex: 0 0 var(--cell-size);
			margin: var(--cell-spacing);
			background-color: transparent;
			box-sizing: border-box;
			// border: var(--border-width) solid var(--cell-color);
			
			// animation: 1.55s ripple ease infinite, 1.5s scan ease infinite;
			animation: 1.5s scan ease infinite;

			$delays: (2 * 4) - 2;
			@for $i from 1 through $delays {
				&.d-#{$i} {
					animation-delay: $i * 100ms;
				}
			}
			
			@for $i from 1 through length($colors) {
					$idx: $i % 2 + 1;
				&:nth-child(#{$i}) {
					--cell-color: #{nth($colors, $i)};
				}
			}
			// @for $i from 1 through length($colors) {
			//		 $rowLapse: (($i / 4) % 1 ) == (1 / 4);
			//		 @if rowLapse {
			//				 $idx: 1;
			//				 &:nth-child(#{$i}) {
			//						 --cell-color: #{nth($colors, $idx)};
			//				 }
			//		 } @else {
			//				 $idx: $i % 2 + 1;
			//				 &:nth-child(#{$i}) {
			//								 --cell-color: #{nth($colors, $idx)};
			//				 }
			//		 }
			// }

			@keyframes scan {
				0% {
					background-color: var(--cell-color);
				}
				
				30% {
					background-color: transparent;
				}
				
				60% {
					background-color: transparent;
				}
				
				100% {
					background-color: var(--cell-color);
				}
			}
		}
	}
}

@media (min-width: m.$small) {
	.loader{
		.loader-wrapper{
			max-width: 65vw;
		}
	}
}

@-webkit-keyframes deblur {
   0% {    -webkit-filter: blur(5px);}
 100% {  -webkit-filter: blur(0px);}
}

